{% extends "layout.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<section class="column-two-thirds" aria-labelledby="aboutyou">
			
			<div class="completion">
        <h1 class="form-title heading-large" id="complete" style="padding-top:30px">Thank you<br />Your changes have been received</h1>
        <p style="color:white;margin-top:-30px">Your reference number is: <b style="font-weight:700">KJSAD8D</b></p>
      </div>

			<h2 class="heading-medium">What happens next</h2>
			<p>Someone will be in touch to let you know if the changes affect your grant, and if there's anything else you need to do.</p>
			<p><a href='#'>What did you think of this service?</a>

		</section>
    
    {# {% include "application/mvp/leftcol.html" %} #}

	</div>

</main>

{% endblock %}
