{% extends "layout.html" %}

{% block pageTitle %}About your job{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

<section class="column-two-thirds" aria-labelledby="aboutjob">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

  <!-- HEADING -->
  <h1 class="form-title heading-large" id="aboutjob">
    <span class="section-progress">Section 3 of 6</span>
    Interview contact
  </h1>

  <p>So that we can phone to verify that you really do have an interview at that place, and on that day.</p>

  <form action="interview-why" method="post" class="form">

    <fieldset>

      <!-- THEIR NAME -->
      <div class="form-group">
          <label class="form-label-bold" for="employer-name">Their name</label>
          <input class="form-control" type="text" id="employer-name" name="employed-employer-name">
      </div>

    </fieldset>

    <fieldset>
      <!-- CONTACT YOU HOW? -->
      <legend class="heading-medium" style="margin-bottom:5px;">How can we contact them?</legend>
      <p>Select as many as you like:</p>
      <div class="form-group">

          <!-- EMAIL -->

          <label for="line-email" class="block-label" data-target="email-ask">
            <input id="line-email" type="checkbox" name="line-contact-pref" value="email">
            Email
          </label>
          <fieldset class="mid-form js-hidden" id="email-ask">
            <div class="form-group panel-indent mid-form">
              <label class="form-label" for="email-address">Email address</label>
              <input class="form-control" id="email-address" name="line-email-address" type="text" aria-required="true">
            </div>
          </fieldset>

          <!-- PHONE -->
          <label for="line-phone" class="block-label" data-target="phone-ask">
            <input id="line-phone" type="checkbox" name="line-contact-pref" value="phone">
            Phone call
          </label>
          <fieldset class="mid-form js-hidden" id="phone-ask">
            <div class="form-group panel-indent mid-form">
              <label class="form-label" for="telephone-number">Phone number</label>
              <!-- <p class="form-hint">Enter a landline, mobile or textphone number.</p> -->
              <input class="form-control" name="line-telephone-number" type="text" aria-required="true">
            </div>
          </fieldset>

          <!-- TEXT MESSAGAE -->
          <label for="line-text" class="block-label" data-target="text-ask">
            <input id="line-text" type="checkbox" name="line-contact-pref" value="text">
            Text message
          </label>
          <fieldset class="mid-form js-hidden" id="text-ask">
            <div class="form-group panel-indent mid-form">
              <label class="form-label" for="telephone-number">Phone number</label>
              <!-- <p class="form-hint">Enter a landline, mobile or textphone number.</p> -->
              <input class="form-control" name="line-telephone-number" type="text" aria-required="true">
            </div>
          </fieldset>

      </div>

    </fieldset>

    <fieldset class="primary-nav form-group" style="margin-top:30px">
      <legend>Navigation</legend>
      <ul>
        <li><input type="submit" value="Continue" class="button"/></li>
      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{% endblock %}
