{{<layout}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

<section class="column-two-thirds" aria-labelledby="aboutjob">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

  <!-- HEADING -->
  <h1 class="form-title heading-large" id="aboutjob">
    <span class="section-progress">Section 4 of 6</span> 
    Your condition
  </h1>

  <form action="aboutyou" method="post" class="form">

    <fieldset>

      <!-- YOUR CONDITION -->
      <div class="form-group">
        <label class="form-label-bold" for="travel-condition" id="">What's your condition or disability?</label>
        <input class="form-control full" id="travel-condition" name="travel-condition"/>
      </div>

      <!-- WHY DO YOU NEED -->
      <div class="form-group">
        <label class="form-label-bold" for="reasons" id="">Why does this mean you need communication support at an interview?</label>
        <textarea class="form-control" id="reasons" name="reasons"></textarea>
      </div>

    </fieldset>

    <fieldset class="primary-nav form-group" style="margin-top:30px">
      <legend>Navigation</legend>
      <ul>
        <li><input type="submit" value="Continue" class="button"/></li>
      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{{/content}}

{{/layout}}
