<html>
<head>
	<title>Confirmation email</title>	
	<link href="/public/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/email.css">
</head>
<body>

<div class="email">
	<p class="email-meta email-to"><span class="meta-label">To:</span> {{ you-email-address }}{{^ you-email-address }}yourname@gmail.com{{/ you-email-address }}</p>
	<p class="email-meta email-from"><span class="meta-label">From:</span> accesstowork@dwp.gsi.gok.uk</p>
	<div class="email-body">
		<p>Dear Mrs Smith</p>
		<p>Thank you for your application for Access to Work. We will process your information as soon as possible and will be in touch with you with an answer within five working days.</p>
		<p>You can keep up to date with the status of your application by <a href="referencenumber">checking online</a>.</p>
		<p>Yours sincerely</p>
		<p>Linda Anderson<br /><small>(Access To Work advisor, Halifax)</small></p>
	</div>	
</div>

</body>
</html>