{{<layout_v8}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="grid-row">

<section class="column-two-thirds">

	<form action="status" method="post">

		<h1 class="heading-large">Please enter your reference number</h1>
		<p>This was the number we gave you at the end of the application.</p>

		<fieldset class="form-group">
			<input class="form-control form-control-3-4" name="reference"/>
		</fieldset>

		<fieldset class="primary-nav form-group">      
			<input type="submit" value="Next" class="button" id="nextButton"/>
		</fieldset>

		<div class="ui-notes" style="display:none">
			Psst... 
			<ol>
				<li><a href="status-progress">In progress</a></li>
				<li><a href="status-waiting">Waiting</a></li>
			</ol>
		</div>

		</form>

</section>

</main>

{{/content}}

{{/layout_v8}}

<script type="text/javascript">
	$(document).on('ready',function()
	{
	  $("#nextButton").on('click',function(e)
	  {
	    e.preventDefault();
	    var c = Math.ceil(Math.random() * $('.ui-notes ol').children().length);
	    var d = $('.ui-notes ol li:nth-child('+c+') a').attr('href');
	    window.location.href = d;
	  });
	});
</script>