{% extends "layout_v8.html" %}

{% block page_title %}About your application{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">

  <section class="column-third">
    <h1 class="heading-large">Your application</h1>
    <h2 class="font-medium">REF: DTY5623D
  </section>

  <section class="column-two-thirds">
    <div class="completion" style="margin-bottom:30px">
      <h1 class="heading-xlarge" style="margin:1em">Waiting for you</h1>
    </div>
    <p>You should have received an email with instructions on what you need to do next.</p>
    <p>If you've lost your email or haven't received it then contact the Access to Work unit. You'll need your reference number.</p>
  </section>

</div>

</main>

{% endblock %}
