{% extends "layout_v8.html" %}

{% block page_title %}About your application{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">

  <section class="column-third">
    <h1 class="heading-large">Your application</h1>
    <h2 class="font-medium">REF: DTY5623D
  </section>

  <section class="column-two-thirds">
    <div class="completion" style="margin-bottom:30px">
      <h1 class="heading-xlarge" style="margin:1em">In progress</h1>
    </div>
    <p>Your application is still being considered.</p>
    <p>Someone will contact you when there's a decision, you don't have to do anything else.</p>
    <p>If you're made an offer you'll be able to accept it online by returning here.</p>
  </section>

</div>

</main>

{% endblock %}
