{{<layout_v8}}

{{$pageTitle}}About your application{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="grid-row">

  <section class="column-third">
    <h1 class="heading-large">Your application</h1>
    <h2 class="font-medium">REF: DTY5623D
  </section>

  <section class="column-two-thirds">
    <div class="completion">
      <h1 class="heading-xlarge" style="margin:1em">Waiting for you</h1>
    </div>
    <p>You should have received an email with instructions on what you need to do next.</p>
    <p>If you've lost your email or haven't received it then contact the Access to Work unit. You'll need your reference number.</p>
  </section>

</div>

</main>

{{/content}}

{{/layout_v8}}