{{<layout_v8}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="grid-row">

  <section class="column-third">
    <h1 class="heading-large">Your application</h1>
    <h2 class="font-medium">REF: DTY5623D
  </section>

  <section class="column-two-thirds">
    <div class="completion">
      <h1 class="heading-xlarge" style="margin:1em">In progress</h1>
    </div>
    <h2 class="heading-medium">Next steps</h2>
    <p>We will be contacting you soon to let you know the result of your application. You will then be able to access our offer online by following the instructions we give you.</p>
    <h2 class="heading-medium">If you need to contact us&hellip;</h2>
    <p>&hellip; hold your horses Sancho! Sit tight and wait, and we'll get to you eventually!</p>
  </section>

</div>

</main>

{{/content}}

{{/layout_v8}}