{{<layout_v8}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="grid-row">

  <section class="column-third">
    <h1 class="heading-large">Your application</h1>
    <h2 class="font-medium">REF: DTY5623D
  </section>

  <section class="column-two-thirds">
    <div class="completion">
      <h1 class="heading-xlarge" style="margin:1em">Waiting for you</h1>
    </div>
    <h2 class="heading-medium">What you should do?</h2>
    <p>We have made a decision and sent you an email or letter.</p>
    <p>Follow the instructions we've sent you to accept your offer or request a reconsideration.</p>
  </section>

</div>

</main>

{{/content}}

{{/layout_v8}}