{% extends "layout.html" %}

{% block pageTitle %}Diffing versions{% endblock %}

{% block content %}

<main id="content" role="main">

<div clas"grid-row">

{% include "application/v7/diffs.html" %}

</div>

</main>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  var version = "v7";
  var data = {
    aboutwork:"Content and wording changes.",
    declaration:"Changed 'deliberately' to 'knowingly' woo! iteration!",
  }
</script>
<script type="text/javascript" src="/public/javascripts/diff.js"> </script>
{% endblock %}