{% extends " application/layout .html" %}

{% block pageTitle %}About your job{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

{% include "includes/leftcol_v9.html" %}

<section class="column-two-thirds" aria-labelledby="aboutjob">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large" id="aboutjob">
    <span class="section-progress">Section 2 of 5</span>
    How your condition affects you at work
  </h1>

  <form action="explore-another" method="post" class="form">

    <!-- MOST IMPORTANT PART -->
    <fieldset>
      <div class="form-group">      
        <!-- <label for="task0" class="form-label">What part of your day to day job does your condition make most difficult for you?</label> -->
        <label for="task0" class="form-label">What part of your job is made most difficult by your condition?</label>
        <input id="task0" name="explore-tasks[]" class="form-control form-control-full" style="width:50%" autocomplete="off" spellcheck="false"/>
      </div>
      <div class="form-group">
        <label for="describe0" class="form-label">How does your condition make this hard?</label>
      <textarea id="describe0" name="describe-tasks[]" class="form-control" style="min-height:100px;padding:5px" spellcheck="false"></textarea>
      </div>
    </fieldset>    

    <fieldset class="inline" id="havejob">
      <legend class="heading-medium" id="alreadyJob">Are there any other things you find difficult for the same reason?</legend>
      <div class="form-group">
        <input id="same-reason-yes" type="radio" name="same-reason" value="Yes" />
        <label class="form-label form-control-radio" data-target="same-reason-reveal" for="same-reason-yes">Yes</label>
      </div>
      <div class="form-group form-group-compound">
        <input id="same-reason-no" type="radio" name="same-reason" value="No" />
        <label class="form-label form-control-radio" for="same-reason-no">No</label>
      </div>
    </fieldset>

    <div class="js-hidden panel-indent" id="same-reason-reveal" style="margin-bottom:2em !important">
      <fieldset class="form-group">
        <label for="describe{{taskcount}}" class="form-label">What are those things?</label>
        <textarea id="describe{{taskcount}}" name="describe-tasks[{{taskcount}}]" class="form-control" style="min-height:100px;padding:5px" spellcheck="false"></textarea>
      </fieldset>
    </div>

    <fieldset class="primary-nav form-group">
      <legend>Form Navigation</legend>
      <ul> <li><input type="submit" value="Next" class="button" id="nextButton"/></li> </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

{% include " application/rightcol .html" %}

</div><!-- .grid-row -->

</main>

{% endblock %}