{% extends "application/layout.html" %}

{% block pageTitle %}Can you get an Access to Work grant?{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

<section class="column-two-thirds">

  <h1 class="form-title heading-xlarge">Apply for an Access to Work grant</h1>
    
  <!-- INTRO NAVIGAITON -->
  <nav class="intro-nav">
  	<ol>
    	<li class="active font-xsmall">
        <span class="part-number">1.</span>
        <span>Overview</span>
      </li>
      <li class="font-xsmall">
        <span class="part-number">2.</span>
        <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
      </li>
  	  <li class="font-xsmall">
        <span class="part-number">3.</span>
        <a href="intro3" title="Part 3: What you'll get">What you'll get</a>
      </li>
      <li class="font-xsmall">
        <span class="part-number">4.</span>
        <a href="intro4" title="Part 4: How to claim">Apply</a>
      </li>
    </ol>
  </nav>

  <!-- CONTENT -->
  <div class="intro-content">
  	<h2 class="heading-medium">1. Overview</h2>
  	<p>You can apply for an Access to Work grant if you have a disability or health condition that causes you difficulty doing your job.</p>
  	<p>The grant can be used to pay for <a href="intro3">special equipment or support</a> to help you: </p>
  	<ul class="list-bullet">
  	  <li>do work tasks, either in your current job or for a new role</li>
  	  <li>get to and from work</li>
  	</ul>
    <p>It can also be used to help you in a job interview if you have communication difficulties.</p>
  	<p>You can't get a grant to help with business start-up costs.</p>
  	<p>The grant doesn’t have to be paid back and won't affect any other benefits you get.</p>
  </div>

 <nav class="intro-next">
          <a href="intro2" rel="next" title="Navigate to next part">Next<span class="pagination-part-title">Eligibility</span></a>
       </nav>
   
</section>


<aside class="column-third help-margin">
      <h2 class="bold-medium intro-right">Elsewhere on GOV.UK</h2>
      	<ul class="intro-right-nav">
		  		<li>
                  <a href="#">Reasonable adjustments for disabled workers</a>
                </li>
              
                <li>
                  <a href="#">Definition of disability under the Equality Act 2010</a>
                </li>
              
                <li>
                  <a href="#">Disability rights</a>
                </li>
              
                <li>
                  <a href="#">Looking for work if you're disabled</a>
                </li>
              
              
            </ul>
    </aside>
    
</div>



</main>

{% endblock %}

