{% extends " application/layout .html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

{% include "includes/leftcol_v9.html" %}

<section class="column-two-thirds" aria-labelledby="thirdparty">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large" id="thirdparty">
    <span class="section-progress">Section 1 of 5</span>
    Type of support worker
  </h1>

  <form action="need-tasks" method="post" class="form" id="theForm">

      <!-- WHAT DO YOU NEED -->
      <fieldset class="form-group" id="deaf-need">
        <legend class="heading-medium" id="deaf-need-label">Do you need one of these?</legend>
        <p>Select all that apply</p>
        <div class="form-group form-group-compound" aria-labelledby="deaf-need-label">
          <input id="deaf-need-bsl" type="checkbox" name="deaf-need" value="a BSL interpreter" />
          <label class="form-label form-control-checkbox" for="deaf-need-bsl"> BSL interpreter </label>
          <input id="deaf-need-lip" type="checkbox" name="deaf-need" value="a lip speaker" />
          <label class="form-label form-control-checkbox" for="deaf-need-lip"> Lip speaker </label>
          <input id="deaf-need-notetaker" type="checkbox" name="deaf-need" value="a note taker" />
          <label class="form-label form-control-checkbox" for="deaf-need-notetaker"> Note taker </label>
          <!-- <input id="deaf-need-none" type="checkbox" name="deaf-need" value="Something else" />
          <label class="form-label form-control-checkbox" for="deaf-need-none"> Something else </label> -->
        </div>
      </fieldset>

    <!-- NEXT BUTTON -->
    <fieldset class="primary-nav form-group">
      <legend>Form Navigation</legend>
      <ul>
        <li><input type="submit" value="Next" class="button" id="nextButton"/></li>
      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

{% include " application/rightcol .html" %}

</div><!-- .grid-row -->

</main>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    var form = $('form');
    $('#nextButton').on('click',function(e)
    {
      e.preventDefault();
      // grab the form as an array.
      var f = form.serializeArray();

      // check whether more than one answer checked
      // if only one and it's Something Else then
      // change the destination.
      if (f.length == 1)
      {
        var c = $('#deaf-need-none').prop('checked');
        if(c) form.attr('action','whatyouneed');
      }

      form.submit();
    });
  });
</script>
{% endblock %}