@import "application";
@import "clearfix";
@import "highcontrast";
@import "elements/forms/form-custom";

.form-label-bold {
  margin-bottom:10px;
}

.form-group-compound {
  margin-bottom:0;
}

/*  --------------
    Misc
    -------------- */
.offer-table {
  dt {font-weight:bold;}
  dd {margin-bottom:1em}
  td.title {
    font-weight:bold;
    font-size:0.9em;
    &.no-border {
      border-bottom:none;
    }
  }
  td.offer-num {
    padding-top:2.2em;
    text-align:right;
    &:after {
      content:'.';
    }
  }
}
.task-list {
  list-style-type:decimal;
  margin-left:-1em;
  li {
    padding-left:1em;
  }
}

.completion {
  padding:1em;
}

.ui-notes {
  display:block;
  clear:both;
  background-color:$grey-3;
  font-size:12px;
  padding:1em;
}
.mid-form {
  padding-top:10px;
  padding-bottom:10px;
}
.form-control-radio,
.form-control-checkbox {
  padding-top:10px;
  padding-bottom:5px;
  margin-bottom:10px;
}