// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.
.button-get-started {
	padding: 0.60em 1.7em 0.45em 0.67em;
	background-image: url(/public/images/start-button-arrow.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.push--down {
	margin-bottom:1em;
}

.textarea--small {
	min-height:6em;
}

.dashed-top {
	border-top:1px dashed #ccc;
	margin-top:1em;
}
.pad--top {
	padding-top:1em;
}