body {
	padding-top:1px;
}
.email {
	width:62%;
	margin:5% auto;
	// border:1px solid #ccc;
}
.email-meta {
	border-bottom:1px solid #eee;
	padding:0.5em;
}
.meta-label {
	font-size:110%;
	font-weight:bold;
}
.email-body {
	margin-top:2em;
}