@import 'elements';
@import "clearfix";

/*
  REMAKING SOME OF THE GDS STYLES
*/
#global-header .header-wrapper {
  max-width:none;
}
#global-header #logo img {
  width:185.00px;
  height:31px;
}
#global-header-bar {
  display:none;
  max-width:none;
}
#content {
  max-width:none;
  padding:0;
}

/* INCLUDING THE PROTOTYPE TAG THING IN THE BANNER */
.phase-banner .phase-tag {
  background-color:$beta-colour;
}
.proposition-phase-tag {
  text-transform:uppercase;
  background-color:$beta-colour;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  position:relative; top:-2px; left:10px;
}

/* STAFF ACCESS LAYOUT */
.staff-container {
  display:table;
  width:100%;
}
.staff-nav {
  display:table-cell;
  border-right:1px solid $grey-2;
  width:240px;
  background-color:$grey-2;
}
.staff-main {
  display:table-cell;
  padding:0 30px 90px;
}

/* STAFF ACCESS NAV */
.staff-nav-links {
  // padding-top:30px;    
  background-color:$grey-4;
  a {
    display:block;
    padding:15px 10px 10px 30px;
    text-decoration:none;
    &.selected {
      color:white;
      background-color:$turquoise;
      // pointer-events: none;
    }
    &:hover {
      color:white;
      background-color:$turquoise-50;
    }      
  }
}
.staff-apps {
  padding-top:0;
  padding-left:15px;
  a.selected {
    background-color:$turquoise-50;
  }
}
.app-date {
  @extend .font-xsmall;
}

/* STAFF ACESSS - MAIN */
.details {
  dt,dd {padding:10px 10px 7px 0;}
  dt {
    float:left;
    clear:left;
    text-align:right;
    width:120px;
    font-weight:bold;    
    text-transform:uppercase;
    font-size:14px;
    letter-spacing:2px;
    background-color:$grey-3;
    margin-bottom:5px;
  }  
  dd {
    float:left;
    padding-left:10px
  }  
}
.tag {
  @extend .font-xsmall;
  display:inline-block;
  position:relative; top:-2px;  
  padding:2px 7px;
  background-color:$pink;
  color:white;
  border-radius:5px;
  margin-left:5px;
}