@import 'elements';
@import 'elements/icons';
@import "elements/forms/form-custom";
@import "clearfix";

@import "staff/gds_overrides";
@import "staff/layout";
@import "staff/indexes";
@import "staff/todo";
@import "staff/tabs";
@import "staff/stats";
@import "staff/lefttabs";
@import "staff/tags";
@import "staff/oo-media";
@import "staff/typeahead";

.govuk-blue { color:$govuk-blue; }
.grey { color:$grey-1; }

.btop {
  padding-top:5px;
  border-top:1px solid $grey-2;
}

.font-xxsmall {
  font-size:14px;
}

.eligability {
  th,td {text-align:center}
}

.autocompleted {
  border-color:white;
  padding-left:0;
}

table td:first-child { width:auto; }

table.customers {
  td.adviser { display:table-cell; }
  td.choice { display:none; }
  table th { color:$text-colour; }
  th.last,
  td.last { text-align:right; }
}

.timeline {
  margin-top:30px;
}

/*
  Bits
*/
.contact {
  border-top:2px solid $grey-2;
  .tag {
    margin-right:10px;
  }
}

.quote {
  position:absolute;
  top:12px;left:115px;
  width:300px;
  color:black;
  display:none;
  background-color:rgba(white,0.8);
  border-radius:15px;
  border:3px solid $govuk-blue;
  padding:10px;
}
.quote:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 100%;
	top: 15px;
	border: 20px solid;
	border-color: $govuk-blue $govuk-blue transparent transparent ;
}
.quote:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 100%;
	top: 18px;
	border: 16px solid;
	border-color: white white transparent transparent ;
}

.nobr {
  white-space:nowrap;
}
.bold {
  font-weight:700;
}
.customer_name {
  white-space:nowrap;
  font-weight:700;
}
.customer_row {
  cursor:pointer;
  &:hover {
    transition: background-color 0.2s ease;
    background-color:$grey-3;
    outline:2px solid $govuk-blue;
  }
}
hr.rule {
  border:0;
  height:2px;
  background-color:$grey-3;
  margin:30px 0px;
}
.show_only {
  // margin-top:45px;
  float:right;
  margin-bottom:30px;
  border:1px solid $grey-2;
  border-width: 1px 0px;
  
  &.list_deaf .item_deaf {background:$govuk-blue;a{color:white}}
  
  li {
    float:left;
    a {
      display:inline-block;
      margin-left:5px;
      padding:5px;  
      &:hover {
        color:white;
        background-color:$govuk-blue;
      }
    }
  }
}

.left_nav {
  li a {
    display:block;
    padding:15px 30px;
    margin-right:30px;
    border-top:1px solid $grey-2;  
    &:hover {
      background-color:$grey-3;
    }
  }
}

.cust_info {
  @include core-19;
  padding-bottom:30px;
}

.login {
  height: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding: 5px 45px 4px 10px;
  background-color: #fff;
  background: #FFF url(/public/images/toggle-sprite-grey.png) no-repeat 100% -52px;
  border: 2px solid #bfc1c3;
  -webkit-appearance: none;
  border-radius: 0;
}
