@import 'elements';
@import 'elements/icons';
@import "elements/forms/form-custom";
@import "clearfix";

@import "staff/gds_overrides";
@import "staff/layout";
@import "staff/indexes";
@import "staff/todo";


.eligability {
  th,td {text-align:center}
}

/* STAFF ACCESS NAV */
.staff-nav-links {

  a {
    display:block;
    padding:10px;
    text-decoration:none;

    img {
      display:block;
      margin:auto;
    }

    &.selected {
      color:white;
      background-color:$grey-3;
      // pointer-events: none;
    }
    &:hover {
      color:white;
      background-color:$turquoise-50;
    }
  }
}
.staff-apps {
  padding-top:0;
  padding-left:15px;
  a.selected {
    background-color:$turquoise-50;
  }
}
.app-date {
  @extend .font-xsmall;
}

/* STAFF ACESSS - MAIN */
.details {
  dt,dd {padding:10px 10px 7px 0;}
  dt {
    float:left;
    clear:left;
    text-align:right;
    width:120px;
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    letter-spacing:2px;
    background-color:$grey-3;
    margin-bottom:5px;
  }
  dd {
    float:left;
    padding-left:10px
  }
}
.tag {
  @extend .font-xsmall;
  display:inline-block;
  position:relative; top:-2px;
  padding:4px 7px 2px;
  color:white;
  background-color:$grey-1;
  border-radius:5px;
  margin-left:5px;
}
table td:first-child {
  width:auto;
}
td.adviser {
  display:table-cell;
}
td.choice {
  display:none;
}
table th {
  color:$text-colour;
}
th.last,
td.last {
  text-align:right;
}



/*
  Stats bits
*/
.stats {
  margin-bottom:30px;
  border-bottom:1px solid $grey-2;
  display:table;
  width:100%;
  li {
    box-sizing:border-box;
    display:table-cell;
    width:19%;
    margin:0;padding:0;
    padding-right:10px;
  }

}
.stat-label {
  margin:0;
}
.stat-num {
  margin:0;
}
.tag {
  &.just_in {background-color:$discovery-colour}
  &.allocated {background-color:$alpha-colour}
  &.gathering {background-color:$beta-colour}
  &.needs_review {background-color:$turquoise}
  &.offer_sent {background-color:$live-colour}
  &.support_agreed {background-color:$live-colour}

  &.employer {background-color:$alpha-colour}
  &.extra_info {background-color:$discovery-colour}
  &.quotes {background-color:$alpha-colour}
  &.assessment {background-color:$beta-colour}

  &.turq {background-color:$turquoise}

  &.waiting_assessment,
  &.waiting_employer,
  &.waiting_extra_info,
  &.waiting_med_ev,
  &.waiting_offer_sent,
  &.waiting_quotes,
    {background-color:$error-colour}
}

/* Tabs */
.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 15px;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $grey-3;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $grey-1;
      pointer-events:none;
      text-decoration: none;
    }
  }
}

// Tabs
// -------------------------

// Give the tabs something to sit on
$tab-border: $grey-2;

.nav-tabs {
  border-bottom: 1px solid $tab-border;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    // margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      margin-right: 2px;
      line-height: 1em;
      border: 1px solid transparent;
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $text-colour;
        background-color: white;
        border: none;
        border-bottom: 5px solid $turquoise;
        pointer-events:none;
        text-decoration:none;
      }
    }
  }
    // pulling this in mainly for less shorthand
  &.nav-justified {
    @extends .nav-justified;
    @extends .nav-tabs-justified;
  }
}

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: 640) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    // border-radius: 5px;
  }
}

.timeline {
  margin-top:30px;
}

/* ====== media ====== */
.media {
  border:1px solid $grey-2;
  border-bottom-width:10px;
  padding:10px 0px 0 20px;
  margin-bottom:20px;
}
.media, .bd {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
}
.bd {
  background-color:$grey-4;
  padding:10px 20px;
  .heading-top {
    margin:0 0 10px 0;
  }
  .tag {
    margin-left:0;
  }
}
.media .img {
  float:left;
  margin:15px 10px 15px 0;
}
.media .img img { display:block; }
.media .imgExt{ float:right; margin-left: 10px; }

/* Bits */

.contact {
  border-top:2px solid $grey-2;
  .tag {
    margin-right:10px;
  }
}
