{% extends "layout.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
	
	{% include "application/mvp/leftcol.html" %}

		<section class="column-two-thirds" aria-labelledby="aboutyou">

			<h1 class="form-title heading-large" id="aboutyou">
				<span class="section-progress">Section 1 of 4</span> 
				About you
			</h1>

			<form action="thirdparty" method="post" class="form">

				<fieldset>

					<legend class="hidden-legend" aria-hidden="true">Your details</legend>	

					<div class="form-group">
						<label class="form-label-bold" for="full-name">Full name</label>
						<input class="form-control" id="full-name" name="you-full-name" type="text" aria-required="true">
					</div>

					<div class="form-group">
						<fieldset>
							<legend class="form-label-bold">Date of birth</legend>

							<div class="form-date">
								<!-- <p class="form-hint">For example, 08 4 2014.</p> -->

								<div class="form-group form-group-day">
									<label for="dob-day">Day</label>
									<input type="text" class="form-control" id="dob-day" name="you-dob-day" aria-required="true">
								</div>
								<div class="form-group form-group-month">
									<label for="dob-month">Month</label>
									<input type="text" class="form-control" id="dob-month" name="you-dob-month" aria-required="true">
								</div>
								<div class="form-group form-group-year">
									<label for="dob-year">Year</label>
									<input type="text" class="form-control" id="dob-year" name="you-dob-year" aria-required="true">
								</div>
							</div>

						</fieldset>
					</div>

					<div class="form-group">
						<fieldset>  
							<legend class="form-label-bold main" id="addressStack">Address</legend>

							<div class="form-group" aria-labelledby="addressStack">
								<label class="form-label" for="address-line1"><input type="text" class="form-control" id="address-line1" name="you-address-line1"></label>
								<label class="form-label" for="address-line2"><input type="text" class="form-control" id="address-line2" name="you-address-line2"></label>
								<label class="form-label" for="address-line3"><input type="text" class="form-control" id="address-line3" name="you-address-line3"></label>
							</div>

							<div>
								<label class="form-label" for="postcode">Postcode</label>
								<input type="text" class="form-control-1-4" id="postcode" name="you-postcode" aria-required="true">
							</div>

						</fieldset>
					</div>

					<div class="form-group">
						<label class="form-label-bold" for="telephone-number">Phone number</label>
						<p class="form-hint">This can be a landline, mobile or textphone number.</p>
						<input class="form-control" id="telephone-number" name="you-telephone-number" type="text" aria-required="true">
					</div>

					<div class="form-group">
						<label class="form-label-bold" for="email-address">Email address</label>
						<input class="form-control" id="email-address" name="you-email-address" type="text" aria-required="true">
						<label class="form-checkbox" for="checkbox-email-address">
							<input id="checkbox-email-address" name="you-email-address-prefer" type="checkbox" value="email_prefferred">
							Check this box if you want us to email rather than phone you.
						</label>
					</div>

				</fieldset>

				<!-- Primary buttons, secondary links -->

				<fieldset class="primary-nav form-group">
					<legend>Form Navigation</legend>    
					<ul>
						<li><input type="submit" value="Next" class="button" /></li>
					</ul>
				</fieldset>

			</form>

		</section>

	</div>

</main>

{% endblock %}

