<html>
<head>
	<title>Application email</title>	
	<link href="/public/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/email.css">
	<style type="text/css">
	.info {
		font-weight:700;
	}
	.info span {
		font-weight:300;
	}
	td {
		vertical-align:top;
	}
	table.data td {
		padding-bottom:10px;
	}
	table.data td.label {
		width:76px;
	}
	.label {
		text-align:right;
		padding-right:10px;
	}
	.right-col {
		border-left:1px solid #ccc;
		padding-left:30px;
		padding-bottom:60px;
	}
	h2.needs-head {
		border-bottom:1px solid #ccc;
		margin-bottom:10px;
	}
	.email {
		max-width:760px;
	}
	</style>	
</head>
<body class="email-page">

<div class="email">
	<h1 class="heading-medium" style="border-bottom:1px solid black">Email</h1>	
	<p class="email-meta email-to"><span class="meta-label">To:</span> atw.adviser@dwp.gsi.gov.uk</p>
	<p class="email-meta email-from"><span class="meta-label">From:</span> online-application@dwp.gsi.gok.uk</p>
	<div class="email-body">
		<!-- <p><img src="/public/images/DWP-logo.png" width="120" /></p> -->
		<table>
			<tr>
				<td width="200px">
					<h2>New application</h2>
					<p style="margin-top:0">12:30pm<br />Thursday 24th October</p>
				</td>
				<td class="right-col">
					<h1>Phillip Franecki</h1>
					<table class="data">
						<tr>
							<td class="label">DOB</td>
							<td class="info">27th August 1954</td>
						</tr>
						<tr>
							<td class="label">Address</td>
							<td class="info">Studio 5,<br />3 Franco Road,<br />Ormskirk,<br />L34 8GF</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="label"><h2>Contact</h2></td>
				<td class="right-col">
					<table class="data">
						<tr>
							<td class="label">Phone</td>
							<td class="info">01234 567 890</td>
						</tr>
						<tr>
							<td class="label">Email</td>
							<td class="info">bob.gruber@gmail.com</td>
						</tr>
						<tr>
							<td class="label">SMS</td>
							<td class="info">09876 543 210</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="label"><h2>Job</h2></td>
				<td class="right-col">
					<table class="data">
						<tr>
							<td class="label">Status</td>
							<td class="info">Employed</td>
						</tr>
						<tr>
							<td class="label"></td>
							<td class="info">
								<p>
									More than six weeks<br />
									5 <span>days a week</span><br />
									7 <span>hours a day</span>
								</p>
							</td>
						</tr>
						<tr>
							<td class="label">Company</td>
							<td class="info">Boots the Chemist Ltd</td>
						</tr>
						<tr>
							<td class="label">Address</td>
							<td class="info">7 Chapel Street<br />Melton<br />Hobskirk<br />PR4 9UR</td>
						</tr>
						
					</table>
				</td>
			</tr>
			<tr>
				<td class="label"><h2>Line manager</h2></td>
				<td class="right-col">
					<h2>Grant Finkelstein</h2>
					<table class="data">
						<tr>
							<td class="label">Phone</td>
							<td class="info">09234 323 421</td>
						</tr>
						<tr>
							<td class="label">Email</td>
							<td class="info">grant.o.finkel78@gmail.com</td>
						</tr>
						<tr>
							<td class="label">SMS</td>
							<td class="info">09463 342 331</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="label"><h2>Condition</h2></td>
				<td class="right-col">
					<h2>Fibromyalgia (including pain, sensitivity, stiffness)</h2>
				</td>
			</tr>
			<tr>
				<td class="label"><h2>Needs</h2></td>
				<td class="right-col">
					<h2 class="needs-head">Travel</h2>
					<table class="data">
						<tr>
							<td class="label"><b>Difficulties</b></td>
							<td class="">Lorem ipsum dolor sit amet, nusquam probatus ex has, eam eu consul mucius dissentiunt. Te sea habeo nulla epicurei. Meis commodo ponderum cu pri, an quodsi utamur eloquentiam eam, usu aperiam deleniti ex. Antiopam recteque in est, mel ea vero animal epicurei, dolore indoctum usu et. Utinam dolorum no vel, id vix aliquam phaedrum dignissim, ut inani aeterno eruditi duo.</td>
						</tr>
						<tr>
							<td class="label"><b>Currently</b></td>
							<td class="">Lorem ipsum dolor sit amet, nusquam probatus ex has, eam eu consul mucius dissentiunt. Te sea habeo nulla epicurei.</td>
						</tr>
						<tr>
							<td class="label"><b>Requests</b></td>
							<td class="">Lorem ipsum dolor sit amet, nusquam probatus ex has, eam eu consul mucius dissentiunt.</td>
						</tr>
					</table>					
					<h2 class="needs-head" style="margin-top:30px">In Work</h2>
					<table class="data">
						<tr>
							<td class="label"><b>Difficulties</b></td>
							<td class="">Lorem ipsum dolor sit amet, nusquam probatus ex has, eam eu consul mucius dissentiunt. Te sea habeo nulla epicurei. Meis commodo ponderum cu pri, an quodsi utamur eloquentiam eam, usu aperiam deleniti ex. Antiopam recteque in est, mel ea vero animal epicurei, dolore indoctum usu et. Utinam dolorum no vel, id vix aliquam phaedrum dignissim, ut inani aeterno eruditi duo.</td>
						</tr>
						<tr>
							<td class="label"><b>Currently</b></td>
							<td class="">Lorem ipsum dolor sit amet, nusquam probatus ex has, eam eu consul mucius dissentiunt. Te sea habeo nulla epicurei.</td>
						</tr>
						<tr>
							<td class="label"><b>Requests</b></td>
							<td class="">Lorem ipsum dolor sit amet, nusquam probatus ex has, eam eu consul mucius dissentiunt.</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>	
</div>

</body>
</html>