{{<layout}}

{{$pageTitle}}Application complete{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="grid-row">

    {{>application/mvp/leftcol}}

    <section class="column-two-thirds" aria-labelledby="complete">

      <!-- HEADING -->
      <div class="">
        <h1 class="form-title heading-large">Something's gone wrong</h1>
      </div>
      <div class="form-group">
        <p id="payHelp">You can't view this page.</p>
        <p>If you've already started an application using this link, then it will have expired.</p>
        <p>Email <a href='mailto:ATW.DIGITALFIRSTCONTACT@DWP.GSI.GOV.UK'>ATW.DIGITALFIRSTCONTACT@DWP.GSI.GOV.UK</a> and ask for another link.</p>
        <p>If you're here by mistake then <a href='https://www.gov.uk/access-to-work'>read about Access to Work</a> on GOV.UK.</p>
      </div>
    </section>

</div>
</main>

{{/content}}

{{/layout}}

