{% extends "layout.html" %}

{% block pageTitle %}About your job{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <!--{% include "application/mvp/leftcol.html" %}-->

    <section class="column-two-thirds" aria-labelledby="aboutjob">

      <h1 class="heading-large" id="aboutjob">
        Thank you
      </h1>

      <p>This is a new service. Your feedback will help to improve it.</p>
      <p><a href='http://www.gov.uk/'>Go to the GOV.UK homepage.</a>

    </section>

  </div>

</main>

{% endblock %}
