{% extends "layout.html" %}

{% block pageTitle %}About your job{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    {% include "application/mvp/leftcol.html" %}

    <section class="column-two-thirds" aria-labelledby="aboutjob">

      <h1 class="form-title heading-large" id="aboutjob">
        <span class="section-progress">&nbsp;</span>
        Thanks!
      </h1>

      <p>Words words words</p>

    </section>

  </div>

</main>

{% endblock %}
