{{<layout}}

{{$pageTitle}}About your condition{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

	<section class="column-two-thirds" aria-labelledby="condition">

		<h1 class="form-title heading-large" id="condition">
			<span class="section-progress">Section 4 of 4</span>
			Help getting to and from work
		</h1>

		<form action="aboutjob" method="post" class="form">

			<fieldset class="push--down">
				<h2 class="form-label-bold">How does your condition make it harder for you to get to and from work?</h2>
				
				<div id="problems" class="problems">
						
						<fieldset class="prob">
							
							<!-- <h3 class="heading-small">What do you have to do and how is this harder for you?</h3> -->
							<textarea class="textarea" name="problem" style="min-height:12em"></textarea>
							
							<p>&nbsp;</p>

							<h3 class="form-label-bold">Do you already do something or make special arrangements to help with this?</h3>
							<div class="form-group form-group-compound" aria-labelledby="represent">
								<fieldset class="inline">
						      		<label class="block-label" data-target="coping-1" for="coping-1-yes">
						        		<input id="coping-1-yes" type="radio" name="managing-yesno" value="Yes">
						        		Yes
						      		</label>
						      		<label class="block-label" for="coping-1-no">
						        		<input id="coping-1-no" type="radio" name="managing-yesno" value="No">
						        		No
						      		</label>
						      </fieldset>
						    </div>

					    	<div class="panel-indent js-hidden" id="coping-1">			    	
					    		<div class="form-group">
							        <label class="form-label" for="effect1">What do you do?</label>
							        <textarea class="form-control" id="effect1" name="managing" spellcheck="false"></textarea>
							  	</div>
							</div>

							<p>&nbsp;</p>
							<h3 class="form-label-bold">Do you know what you need to help you get to and from work?</h3>
							<div class="form-group form-group-compound" aria-labelledby="represent">
								<fieldset class="inline">
						      		<label class="block-label" data-target="help-1" for="help-1-yes">
						        		<input id="help-1-yes" type="radio" name="help-yesno" value="Yes">
						        		Yes
						      		</label>
						      		<label class="block-label" for="help-1-no">
						        		<input id="help-1-no" type="radio" name="help-yesno" value="No">
						        		No
				      				</label>
					      		</fieldset>
					    	</div>

					    	<div class="panel-indent js-hidden" id="help-1">			    	
						    	<div class="form-group">
								    <label class="form-label" for="effect1">What would help you?</label>
								    <textarea class="form-control" id="effect1" name="help" spellcheck="false"></textarea>
							  	</div>
						  	</div>

						</fieldset><!-- .prob -->
				</div><!-- .problems -->

				<!-- <br /><br />
				<h2 class="form-label-bold">Does you condition effect you in any other way?</h2>
				<div class="form-group form-group-compound" aria-labelledby="represent">
					<fieldset class="inline">
			      		<label class="block-label" data-target="coping-1" for="coping-1-yes">
			        		<input id="coping-1-yes" type="radio" name="radio-indent-group" value="Yes">
			        		Yes
			      		</label>
			      		<label class="block-label" for="coping-1-no">
			        		<input id="coping-1-no" type="radio" name="radio-indent-group" value="No">
			        		No
			      		</label>
			      </fieldset>
				</div> -->

			</fieldset>		  

		    <!-- Primary buttons, secondary links -->

			<p>&nbsp;</p>
		
	    <fieldset class="primary-nav form-group">
				<legend>Navigation</legend>     
	      <ul> <li><input type="submit" value="Next" class="button" id="submitButton"/></li> </ul>
			</fieldset>
			

		  </form>
	  
	</section>

{{> application/mvp/rightcol }}<!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{{/content}}

{{/layout}}

<script type="text/javascript">
	$(document).on('ready',function()
	{
		var form = $('form');

	  $('#submitButton').on('click',function(e)
	  {
	    e.preventDefault();
	    var travel = Cookies.get('hasEffectWork');
	    if (typeof travel !== 'undefined')
	    {
	    	form.attr('action','help-inwork');        
	    }
	    form.submit();
	  });
	});
</script>