{{<layout_v8}}

{{$pageTitle}}Disclaimer{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="grid-row">

{{>application/mvp/leftcol}}

{{>includes/leftcol_v9}}

<section class="column-two-thirds" aria-labelledby="disclaimer">

  <!-- HEADING -->
  <h1 class="form-title heading-large" id="disclaimer">Before you start</h1>

    <div class="form-group">
      <p>Please only use this service if you genuinely want to apply for an Access to Work grant.</p>
      <p>Read <a href="https://www.gov.uk/access-to-work">more about Access to Work</a> if you're unsure whether it's for you.</p>

    <p class="font-small" id="grant">To get an Access to Work grant you must:</p>

      <ul class="list-bullet" aria-labelledby="grant">
      <li>be 16 or over</li>
      <li>live and work in England, Scotland or Wales</li>
      <li>have a job or a job interview</li>
      <li>have a long-term disability or health condition</li>
     </ul>
     <!--
     <p id="payHelp">An Access to Work grant can pay for help with:</p>
     <ul aria-labelledby="payHelp" class="list-bullet">
      <li>managing difficulties in doing your job or travelling to work that are caused by your condition</li>
      <li>communicating in a job interview</li>
     </ul>
     -->
     <p class="font-small">Department for Work and Pensions will contact your employer when you apply and an assessor might have to visit you at work.</p>
      <details>
      <summary><span class="summary">About long term health conditions</span></summary>
      <div class="panel-indent">
        <p id="health">Your health condition or disability doesn't have to be permanent but you must either:</p>
        <ul aria-labelledby="health" class='list-bullet'>
        <li>have had it for at least a year</li>
        <li>expect it to last at least another 12 months from when you apply</li>
        </ul>
        <p>You don't usually need to give any medical evidence of your condition as part of your application.</p>
      </div>
    </details>

    <p>It takes around 15 minutes to complete this application. Make sure you're ready to apply before starting - the unique link you used to get to this site will only work once.</p>
    <p>If you can't complete your application first time, contact the person who invited you to try this service for help.</p>

     </div>

  <form action="aboutyou" method="post" class="form">

    <fieldset class="primary-nav form-group">
      <legend>Form Navigation</legend>
      <ul>
        <li><input type="submit" value="I understand - start my application" class="button" /></li>
      </ul>

    </fieldset>

  </form>

</section>

</div>





</main>

{{/content}}

{{/layout_v8}}

