{{<layout}}

{{$pageTitle}}About your disability{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">

<section class="column-two-thirds" aria-labelledby="condition">

	<h1 class="form-title heading-large">A few different versions of:<br />Tell My Story</h1>
	<ul class="list-bullet">
		<li><a href="version1">Version 1</a></li>
		<li><a href="version2">Version 2</a></li>
		<li><a href="version3">Version 3</a></li>
	</ul>
  
</section>

</div>


</main>

{{/content}}

{{/layout}}

