{% extends "layout.html" %}

{% block pageTitle %}About your job{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

{% include "includes/leftcol.html" %}

<section class="column-two-thirds" aria-labelledby="aboutjob">

  <h1 class="form-title heading-large" id="aboutjob"><span class="section-progress">Section 3 of 5</span> About your job</h1>

  <form action="line-manager" method="post" class="form">

    <fieldset>

      <legend class="hidden-legend" aria-hidden="true">Your job</legend>

      <!-- WHEN DID YOU START -->
      <div class="form-group">
        <fieldset class="inline">
          <legend class="form-label-bold">When did you start this job?</legend>
          <div class="form-date">
            <p class="form-hint">For example, 08 4 2014.</p>
            <div class="form-group form-group-day">
              <label for="dob-day">Day</label>
              <input type="text" class="form-control" id="dob-day" name="work-dob-day">
            </div>
            <div class="form-group form-group-month">
              <label for="dob-month">Month</label>
              <input type="text" class="form-control" id="dob-month" name="work-dob-month">
            </div>
            <div class="form-group form-group-year">
              <label for="dob-year">Year</label>
              <input type="text" class="form-control" id="dob-year" name="work-dob-year">
            </div>
          </div>
        </fieldset>
      </div>

      <!-- DAYS A WEEK? -->
      <div class="form-group">
          <label class="form-label-bold" for="work-days" id="work-daysexample">How many days a week do you usually work?</label>
          <input class="form-control" type="tel" id="work-days" name="work-work-days">
          <!-- <textarea class="form-control textarea--xsmall" id="work-days" name="work-work-days"></textarea> -->
      </div>

      <!-- HOURS A WEEK? -->
      <div class="form-group">
          <label class="form-label-bold" for="job-title">How many hours a week do you usually work?</label>
              <p class="form-hint" aria-labelledby="work-daysexample">You can put a range, eg between 35 and 40 hours a week.</p>
          <input class="form-control" type="tel" id="job-title" name="work-job-hours">
      </div>

    </fieldset>

    <fieldset class="primary-nav form-group">
      <legend>Navigation</legend>
      <ul>
        <li><input type="submit" value="Next" class="button" id="nextButton"/></li>
      </ul>
    </fieldset>

</form>

</section><!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on("ready",function(e)
  {
    var form = $("form");
    $('#nextButton').on('click',function(e)
    {
      e.preventDefault();

      // go and check what they put for employment status.
      var emp_status = JSON.parse(Cookies.get('emp_status')); console.log(emp_status);
      switch(emp_status)
      {
        case "Employed": dest = 'line-manager'; break;
        case "Self": dest = 'thirdparty'; break;
        case "Director": dest = 'thirdparty'; break;
      }

      // if at this point we have a destination go to it otherwise
      // alert a quick error.
      if (dest)
      {
        form.attr('action',dest);
        form.submit();
      } else {
        alert('You need to complete the form');
      }

    });
  });
</script>
{% endblock %}