
<div class="staff__heading">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-xlarge" style="margin:0 0 10px">{{ case.name }} {{ case.surname }}</h2>
      <div class="grid-row">
        <div class="column-half">
          <p><span class="font-xsmall">Condition</span><br /><span class="bold-medium">{{ case.condition }}</spanc></p>
        </div><!-- column -->
        <div class="column-half">
          <p><span class="font-xsmall">{{ case.job_status }}</span><br /><span class="bold-medium">{{ case.job_title }}</spanc></p>
        </div><!-- column -->
      </div><!-- row -->
    </div><!-- column -->
    <div class="column-third">
      {% include TEMPLATE_FOLDER + "/_inc/app_adviser.html" %}
      {# {% include TEMPLATE_FOLDER + "/_inc/app_team.html" %} #}
    </div><!-- column -->
  </div><!-- row -->
</div>


  
