{% extends TEMPLATE_FOLDER+"/layout.html" %}

{% block staff_content %}

  {{ cases | log }}

  <h2 class="heading-xlarge">Adviser: {{ cases[0].adviser.name }} {{ cases[0].adviser.surname }}</h2>

  <div class="grid-row">
    <div class="column-full">

      <div class="box">
      <table class="zebra">
        <thead>
          <tr>
            <th style="padding-left:15px;">Name</th>
            <th>Team</th>
            {# <th width="30%">Condition</th> #}
            <th>Condition</th>
            <th class="numeric">Initial contact</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(0, cases.length) %}
          {% set item  = cases[i] %}
          <tr class="customer_row" data-id="{{ item._id }}">
            <td style="padding-left:15px;" class="nobr">{{ item.name }} {{ item.surname }}</td>
            <td><span class="tag {{ item.team }}">{{ item.team }}</span></td>
            <td>{{ item.condition }}</td>
            <td class="nobr numeric">{{ item.postDate | formatDate('Do MMMM YYYY') }}</td>
          </tr>
          {# {{ item | log }} #}
          {% endfor %}
        </tbody>
      </table>
      </div><!-- box -->

    </div><!-- column -->
  </div><!-- row -->

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.customer_row').on('click',function(e)
    {
      e.preventDefault();
      var id = $(this).data('id');
      window.location.href = "/{{TEMPLATE_FOLDER}}/customer/"+id;
    });
  });
</script>
{% endblock %}
