{% extends "application/layout.html" %}

{% block page_title %}Their offer - Access To Work{% endblock %}

{% block content %}

<form action="/offer/create" method="post">
<input type="hidden" name="_id" value="{{ user._id }}" />

<main id="content" role="main">

  <div class="grid-row">
    <section class="column">

      <p style="margin-top:10px;float:right"><a href="/offer/list/">List of applications</a></p>

      <h2 class="heading-large">Create an offer letter</h2>

      <dl class="review-answers">
        <dt>Their Condition</dt>
        <dd>{{ user['start']['my-condition'] }}</dd>
        {# <dt>Fast track</dt>
        <dd>{{ user['start']['fast'] }}</dd> #}
      </dl>

      {% if user['start']['fast'] == "true" %}
      {% set deafoffers = user.offers.deaf | arrayify %}
      <dl class="review-answers">
        <dt>Needs</dt>
        <dd>
          {% for item in user['hearing']['deaf_need'] | arrayify %}
            <p>
              They've said they need <span class="blue">{{ item }}</span>,
              <span class="blue">{{ user['hearing_tasks'][loop.index0]['hours'] }} times {{ user['hearing_tasks'][loop.index0]['hours_unit'] }}</span>
              to help them with <span class="blue">{{ user['hearing_tasks'][loop.index0]['need_tasks'] }}</span>
            </p>
          {% endfor %}
        </dd>
        <hr class="rule" style="margin-bottom:30px;"/>
        <dt class="blue">Offer</dt>
        <dd><textarea class="form-control" name="deaf">{{ user.offers.deaf }}</textarea></dd>
      </dl>
      {% endif %}

      <h2 class="heading-medium">Travel</h2>
      <dl class="review-answers">
        <dt>Needs</dt>
        {% if user['travel']['help-travelling'] == 'No' %}
          <dd>They <span class="blue">don't need help</span> getting to work.</dd>
        {% else %}
          <dd>They <span class="blue">do need help</span> getting to work.</dd>
          <br />
          <dt>Travel situation</dt>
          <dd>
            {% for item in user['travel']['travel-now'] | arrayify %}
              <p>
                They've currently travel by <span class="blue">{{ item }}</span>,
                but can't continue for these reasons: <span class="blue">&ldquo;{{ user['travel_why'][loop.index0]['reasons'] }}&rdquo;</span>
              </p>
            {% endfor %}
          </dd>
          <dt>Other travel options</dt>
          <dd>
            {% for item in user['travel_not']['travel-not'] | arrayify  %}
              <p>
                They can't travel by <span class="blue">{{ item }}</span>,
                because: <span class="blue">&ldquo;{{ user['travel_why_not'][loop.index0]['reasons'] }}&rdquo;</span>
              </p>
            {% endfor %}
          </dd>
          <hr class="rule" style="margin-bottom:30px;"/>
          <dt class="blue">Offer</dt>
          <dd><textarea class="form-control" name="travel">{{ user.offers.travel }}</textarea></dd>
        {% endif %}
      </dl>

      <h2 class="heading-medium">During work</h2>
      <dl class="review-answers">
        <dt>Needs</dt>
          {% if user['during_work']['help-during-work'] == 'whole' %}
            <dd>Their condition affects <span class="blue">their whole day</span>.</dd>
            <br />
            <dt>Description</dt>
            <dd>{{ user['during_work']['whole-day-desc'] }}</dd>
            <hr class="rule" style="margin-bottom:30px;"/>
            <dt>Offer</dt>
            <dd><textarea name="daywork" class="form-control">{{ user.offers.daywork }}</textarea></dd>
          {% elif user['during_work']['help-during-work'] == 'part' %}
            <dd>Their condition affects <span class="blue">only certain tasks</span> in work.</dd>
            <br />
            <dt>Work situation</dt>
            <dd>
              {% for item in user['during_work']['during_work_tasks'] | arrayify %}
                <p>
                  They struggle with <span class="blue">{{ item }}</span><br />
                  because <span class="blue">&ldquo;{{ user['during_work_why'][loop.index0]['reasons'] }}&rdquo;</span><br />
                  and would like <span class="blue">&ldquo;{{ user['during_work_why'][loop.index0]['help-what'] }}&rdquo;</span>
                </p>
                {% set workoffers = user.offers.work | arrayify %}
                <textarea name="work" class="form-control">{{ workoffers[loop.index0] }}</textarea>
              {% endfor %}
            </dd>
          {% else %}
            <dd>Their condition <span class="blue">doesn't affect</span> them in their duties.</dd>
          {% endif %}
        <dt>&nbsp;</dt>
        <dd>
          <br />
          <button class="button">Submit</button>
          <a href="/offer/offer/{{ user._id }}" class="button button-blue">View Offer</a>
          <a href="/offer/mvp/letter/{{ user._id }}" class="button button-blue">View Letter</a>
        </dd>
      </dl>

      <div class="grid-row">
        <div class="column">
          <hr />
          <h2 class="heading-small">RAW data</h2>
          {{ dump | safe }}
        </div>
      </div>
</main>
</form>



{% endblock %}

{% block page_script %}
<script type="text/javascript">
$(document).on('ready',function()
{
  // $("textarea").val("Lorem ipsum dolor sit amet, has in quodsi inermis vivendum. Ne eos definiebas reformidans, cum diam delenit consectetuer ei. Ius ea adhuc mediocrem. Has nisl magna ut. Menandri prodesset id eum, reque fastidii vel ei.");
});
</script>
{% endblock %}
