{% extends "application/layout.html" %}

{% block page_title %}Your offer - Access To Work{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <section class="column-two-thirds">

      <h2 class="heading-large">Your offer</h2>

      <dl class="review-answers">
        {# <dt>Your condition</dt>
        <dd>{{ user['start']['my-condition'] }}</dd> #}
        {# <dt>Fast track</dt>
        <dd>{{ user['start']['fast'] }}</dd> #}
      </dl>

      {% if user['start']['fast'] %}

        {% set deafoffers = user.offers.deaf | arrayify %}

        {% for item in user['hearing']['deaf_need'] | arrayify %}
        <dl class="review-answers">
          <dt>You said:</dt>
          <dd class="blue">You need {{ item }}</dd>
          <dt>We can offer you:</dt>
          <dd>{{ deafoffers[loop.index0] }}</dd>
        </dl>
        {% endfor %}

      {% endif %}

      {% if user['travel']['help-travelling'] == 'Yes' %}
      <h2 class="heading-medium">Travel</h2>
      <dl class="review-answers">
        <dt>You said:</dt>
            <!-- <dd class="blue">You can get to or from work OK - you don't need any help.</dd> -->
            <dd class="blue">You can't get to or from work OK.</dd>
            <dt>We can offer you:</dt>
            <dd>{{ user.offers.travel }}</dd>
      </dl>
      {% endif %}

      {% if user['during_work']['help-during-work'] == "whole" %}
        <h2 class="heading-medium">During work</h2>
        <dl class="review-answers">
          <dt>You said:</dt>
          <dd class="blue">{{ user['during_work']['whole-day-desc'] }}</dd>
          <dt>We can offer you:</dt>
          <dd>{{ user.offers.daywork }}</dd>
        </dl>
      {% elif user['during_work']['help-during-work'] == "part" %}
        <h2 class="heading-medium">During work</h2>
        {% for item in user['during_work']['during_work_tasks'] | arrayify %}
        <dl class="review-answers">
          <dt>You said:</dt>
          <dd class="blue">You struggle with {{ item }} </dd>
          <dt>We can offer you:</dt>
          {% set workoffers = user.offers.work | arrayify %}
          <dd>{{ workoffers[loop.index0] }}</dd>
        </dl>
        {% endfor %}
      {% endif %}

      <hr />

      <form action="offer" methodS="post">

        <!-- DO YOU ACCEPT -->
        <h2 class="heading-medium">Do you accept this offer?</h2>
        <fieldset class="form-group" style="margin:1em 0 2em">
          <input id="offer-agree" type="radio" value="agree" name="offer-agree">
          <label class="form-label form-control-radio" for="offer-agree" data-target="submit">Yes, you accept</label>
          <input id="offer-disagree" type="radio" value="disagree" name="offer-agree">
          <label class="form-label form-control-radio" for="offer-disagree" data-target="reconsidesation">No, you don't accept</label>
        </fieldset>

        <!-- YES I DO -->
        <!-- <fieldset class="panel-indent primary-nav form-group js-hidden" id="submit">
        </fieldset> -->

        <!-- NO I DON'T -->
        <fieldset class="panel-indent form-group js-hidden" id="reconsidesation">
          <h2 class="heading-medium" style="margin-top:0">Request a reconsideration</h2>
         <p>You can ask for your offer to be looked at again if you want.</p>
          <p>Give details of why you think this offer won't meet your needs and suggest what alternative or additional help you think you need.</p>
          <div class="form-group">
            <textarea class="form-control" name="new-info"></textarea>
          </div>
        </fieldset>

        <div class="form-group" style="margin-top:30px;">
          <a href="agree-moreinfo" class="button">Send</a>
        </div>

      </form>

    </section>
  </div>

</main>
{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.button').on('click',function(e)
    {
      e.preventDefault();
      var agree = $('#offer-agree').prop('checked');
      var disagree = $('#offer-disagree').prop('checked');
      if (agree)
      {
        $('form').attr('action','/offer/thanks');
        $('form').submit();
      }
      if (disagree)
      {
        $('form').attr('action','/offer/thanks-recon');
        $('form').submit();
      }
      if (!agree && !disagree)
      {
        alert('Choose whether you accept or don\'t accept the offer');
      }
    });
  });
</script>
{% endblock %}
