{% extends "application/layout.html" %}

{% block page_title %}Your offer - Access To Work{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <section class="column">

      <h2 class="heading-large">Your offer</h2>

      <dl class="review-answers">
        {# <dt>Your Condition</dt>
        <dd>{{ user['start']['my-condition'] }}</dd> #}
        {# <dt>Fast track</dt>
        <dd>{{ user['start']['fast'] }}</dd> #}
      </dl>

      {% if user['start']['fast'] %}

        {% set deafoffers = user.offers.deaf | arrayify %}

        {% for item in user['hearing']['deaf_need'] | arrayify %}
        <dl class="review-answers">
          <dt>You said:</dt>
          <dd class="blue">You need {{ item }}</dd>
          <dt>Computer says:</dt>
          <dd>{{ deafoffers[loop.index0] }}</dd>
        </dl>
        {% endfor %}

      {% endif %}

      <h2 class="heading-medium">Travel</h2>
      <dl class="review-answers">
        <dt>You've said:</dt>
          {% if user['travel']['help-travelling'] == 'No' %}
            <dd class="blue">You are getting to work OK right now.</dd>
          {% else %}
            <dd class="blue">You are not getting to work OK right now.</dd>
            <dt>Computer says:</dt>
            <dd>{{ user.offers.travel }}</dd>
          {% endif %}
      </dl>

      {% if user['during_work']['help-during-work'] == "Yes" %}
        <h2 class="heading-medium">During Work</h2>
        {% for item in user['during_work']['during_work_tasks'] | arrayify %}
        <dl class="review-answers">
          <dt>You said:</dt>
          <dd class="blue">You struggle with {{ item }} </dd>
          <dt>Computer says:</dt>
          {% set workoffers = user.offers.work | arrayify %}
          <dd>{{ workoffers[loop.index0] }}</dd>
        </dl>
        {% endfor %}
      {% endif %}

      <hr />

      <form action="offer" methodS="post">

        <!-- DO YOU ACCEPT -->
        <h2 class="heading-medium">Do you accept this offer?</h2>
        <fieldset class="form-group" style="margin:1em 0 2em">
          <input id="offer-agree" type="radio" value="agree" name="offer-agree">
          <label class="form-label form-control-radio" for="offer-agree" data-target="submit">Yes, you accept this offer</label>
          <input id="offer-disagree" type="radio" value="disagree" name="offer-agree">
          <label class="form-label form-control-radio" for="offer-disagree" data-target="reconsidesation">No, you don't accept</label>
        </fieldset>

        <!-- YES I DO -->
        <!-- <fieldset class="panel-indent primary-nav form-group js-hidden" id="submit">
        </fieldset> -->

        <!-- NO I DON'T -->
        <fieldset class="panel-indent form-group js-hidden" id="reconsidesation">
          <h2 class="heading-medium" style="margin-top:0">Reconsiderations</h2>
         <p>You can ask for your offer to be reconsidered if you want.</p>
          <p>Give details of why this offer doesn't meet your needs, and what alternative or additional help you'd like.</p>
          <div class="form-group">
            <textarea class="form-control" name="new-info"></textarea>
          </div>
        </fieldset>

        <div class="form-group" style="margin-top:30px;">
          <a href="agree-moreinfo" class="button">Submit</a>
        </div>

      </form>

    </section>
  </div>

</main>
{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.button').on('click',function(e)
    {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
