{% extends "staffui/v1/layout.html" %}

{% block page_title %}
	Access To Work - Prototype
{% endblock %}

{% block staff_content %}

	<section aria-labelledby="staffui" class="staff-main">

		<h1 class="form-title heading-large" id="staffui">All customers</h1>

		<ol class="stats">
			{% for label in ['customer','adviser','assessor','qaf','mainenance'] %}
				<li>
					<p class="stat__label">{{ label }}</p><h2 class="stat-num heading-xlarge {{ label | slugify }}">{{ counts[label] }}</h2>
				</li>
			{% endfor %}
			<li>
				<p class="stat__label">inactive</p><h2 class="stat-num heading-xlarge">2700</h2>
			</li>
		</ol>

		<table class="customers customers--all">
			<thead>
				<tr>
					<th>customer</th>
					<th>status</th>
					<th>since</th>
					<th class="last">adviser</th>
				</tr>
			</thead>
			<tbody class="app-list">
			{% if claimants | length %}
				{% for i in range (0,100) %}
				{% set item = claimants[i] %}
					<tr>
						<td><a href="/staffui/v1/claimant/{{ item._id }}/">{{ item.name }} {{ item.surname }}</a></td>
						<td>
							<span class="tag {{ item.status.awaiting | slugify }}">{{ item.status.label }}</span>
						</td>
						<td>{{ item.fromNow }}</td>
						<td class="adviser last">
							{% if item.status.awaiting == 'adviser' %}
								<a href="adviser/{{ item.adviser.id }}">{{ item.adviser.name }} {{ item.adviser.surname }}</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% endif %}
	  	</tbody>
		</table>

	</section>

{% endblock %}
