{% extends "staffui/v1/claimant.html" %}

{% block claim_content %}

<div class="grid-row">
  <div class="column column-third">
    <h2 class="heading-medium">Status</h2>
    <p>Employed</p>
    <h2 class="heading-medium">Job Title</h2>
    <p>Interaction Designer</p>
    <h2 class="heading-medium">Employer</h2>
    <p>Holland &amp; Barrett</p>
    <h2 class="heading-medium">Time in job</h2>
    <p>More than 6 weeks</p>
    <h2 class="heading-medium">Working pattern</h2>
    <p>6 days / week<br />
      38 hrs / week</p>
  </div>
  <div class="column column-two-thirds">
    <h2 class="heading-medium">Line Manager</h2>
    <p>Barry Bones</p>
    <h2 class="heading-medium">Contact</h2>
    <table class="contact">
      <tr>
        <td><span class="tag turq">Email</span><a href="#">phil.mcavity@dentistjokes.com</a></td>
      </tr>
      <tr>
        <td><span class="tag turq">Phone</span>01943 456 123</td>
      </tr>
      <tr>
        <td><span class="tag turq">SMS</span>01943 456 123</td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
