<tr>
  <td class="heading-medium">1</td>
  <td>
    <input name="solution_1" type="text" class="form-control autocompleted" style="width:100%" value="Roger Pen"/>
    <p class="grey font-xsmall btop">Auto-suggested with 76% certainty</p>
  </td>
  <td> <textarea name="" class="form-control"></textarea> </td>
  <td>
    <input name="solution_1" type="text" class="form-control autocompleted" style="width:100%" value="£53.87"/>
    <p class="grey font-xsmall btop">Best price via <a href="#">Rogerton Inc</a></p>
  </td>
  <td> <label class="form-label form-control-checkbox" for="todo_1"></label> <input id="todo_1" type="checkbox" name="" value="" /> </td>
</tr>
