{% extends "layout.html" %}

{{$pageTitle}}Diffing versions{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div clas"grid-row">

{{>application/v9/diffs}}

</div>

</main>

{{/content}}

{{/layout}}

<script type="text/javascript">
  var data = {
    aboutyou: "Removed the date example as it was putting some users off (for some reason).",
    doyouknow: "Changed the questions to be more specific so as not to encourage people to choose them when actually they'd be better served with the &ldquo;Something Else&rdquo; flow",
    finish: "Changed the 'next Tuesday' to '5 working days' because it seems needlessly off-putting to users.",
    index: "Small content change.",
    intro2: "Small content change.",
    intro3: "Small content change.",
    'need-tasks': "Put the 'How many hours' at the top because we believe it'll be a more natural way for users to answer this then the following question on this page.",
    'need-why': "Small content change.",
  }
</script>
<script type="text/javascript" src="/public/javascripts/diff.js"> </script>