{% extends "layout_v8.html" %}

{% block pageTitle %}Application complete{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

{% include "includes/leftcol_v9.html" %}


<section class="column-two-thirds" aria-labelledby="complete">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

  <!-- HEADING -->
<div class="completion">
	<h1 class="form-title heading-large" id="complete">Your application has been received</h1>
</div>


 <div class="form-group">

       <h2 class="heading-medium">What happens next</h2>

       <p>You or your representative will get a phone call or email within 5 working days to discuss your application.</p>

       <p>You'll be told if someone needs to visit your workplace to meet with you face-to-face, and when this will happen.</p>

 </div>


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <ul>
		<li><a href="index" class="button">Finish</a></li>
		<li><a href="aboutjob">Make another claim</a></li>
      </ul>
    </div>


</section>

</div>


</main>

{% endblock %}

