{% extends "layout_v8.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

  

<section class="column-two-thirds" aria-labelledby="thirdparty">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large" id="thirdparty">
    <span class="section-progress">Section 1 of 5</span>
    Help with travel
  </h1>

  <form action="need-why" method="post" class="form" id="theForm">

    <div class="form-group">

      <!-- YOUR CONDITION -->
      <div class="form-group">
        <label class="form-label-bold" for="travel-condition" id="">What's your condition or disability?</label>
        <input class="form-control full" id="travel-condition" name="travel-condition"/>
      </div>

      <!-- WHY DO YOU NEED -->
      <!-- <div class="form-group">
        <label class="form-label-bold" for="reasons" id="">How does your condition make travelling harder for you?</label>
        <textarea class="form-control" id="reasons" name="reasons"></textarea>
      </div> -->

      <!-- WHAT DO YOU NEED -->
      <fieldset class="form-group" id="what-you-need">
        <legend class="form-label-bold" id="what-you-need-label">What do you need?</legend>
        <p>Select all that apply</p>
        <div class="form-group form-group-compound" aria-labelledby="what-you-need-label">
          <input id="what-you-need-bsl" type="checkbox" name="what-you-need" value="someone to take you to and from work" />
          <label class="form-label form-control-checkbox" for="what-you-need-bsl">
            Someone to take you to and from work
          </label>
          <input id="what-you-need-lip" type="checkbox" name="what-you-need" value="someone to travel with you" />
          <label class="form-label form-control-checkbox" for="what-you-need-lip">
            Someone to travel with you
          </label>
          <input id="what-you-need-notetaker" type="checkbox" name="what-you-need" value="help using public transport" />
          <label class="form-label form-control-checkbox" for="what-you-need-notetaker">
            Help using public transport
          </label>
          <input id="what-you-need-haids" type="checkbox" name="what-you-need" value="someone to drive your car" />
          <label class="form-label form-control-checkbox" for="what-you-need-haids">
            Someone to drive your car
          </label>
          <input id="what-you-need-none" type="checkbox" name="what-you-need" value="something else" />
          <label class="form-label form-control-checkbox" for="what-you-need-none">
            Something else
          </label>
        </div>
      </fieldset>

    </div><!-- .form-group -->

    <!-- NEXT BUTTON -->
    <fieldset class="primary-nav form-group">
      <legend>Form Navigation</legend>
      <ul>
        <li><input type="submit" value="Next" class="button" id="nextButton"/></li>
      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    var form = $('form');
    $('#nextButton').on('click',function(e)
    {
      e.preventDefault();
      // grab the form as an array.
      var f = form.serializeArray();

      // check whether more than one answer checked
      // if only one and it's Something Else then
      // change the destination.
      if (f.length == 1)
      {
        var c = $('#what-you-need-none').prop('checked');
        if(c) form.attr('action','whatyouneed');
      }

      form.submit();
    });
  });
</script>
{% endblock %}