{% extends "layout.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<section class="column-two-thirds" aria-labelledby="aboutyou">
			
			<div class="completion">
        <h1 class="form-title heading-large" id="complete" style="padding-top:30px">Offer accepted</h1>
        <p style="color:white;margin-top:-30px">Your reference number is: <b style="font-weight:700">KJSAD</b></p>
      </div>

			<h2 class="heading-medium">What happens next</h2>
			<p>Your Access to Work grant will now be processed.</p>
			<p>You must report any changes to your life or work that could affect your grant, for example if your condition improves or you move house.</p>
			<p>Someone will be in touch with you and your employer if needed to let you know what will happen next.</p>
			<div class="application-notice help-notice">
              <p>You may be asked to repay any money you claim through your grant that's not used to pay for the help or items listed in your offer letter. If you don't repay money when asked, or deliberately don't report a change in your circumstances that could affect your grant you could be taken to court.</p>
            </div>

		</section>
    
    {# {% include "application/mvp/leftcol.html" %} #}

	</div>

</main>

{% endblock %}
