{% extends "layout.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<section class="column-two-thirds" aria-labelledby="aboutyou">

			<h1 class="form-title heading-large" style="margin-top:30px;">Offer accepted</h1>
			<p>Your Access to Work grant will now be processed.</p>
			<p>Someone will be in touch with you and your employer if needed to let you know what will happen next.</p>

		</section>
    
    {# {% include "application/mvp/leftcol.html" %} #}

	</div>

</main>

{% endblock %}
