{% extends "layout.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<section class="column-two-thirds" aria-labelledby="aboutyou">

			<h1 class="form-title heading-large" style="margin-top:30px;">
				Your offer
			</h1>

			<form action="accepted" method="post" class="form">

				<fieldset class="form-group">

					<legend class="hidden-legend" aria-hidden="true">Your details</legend>	

					<div class="form-group">
						<label class="form-label-bold" for="full-name">Full name</label>
						<input class="form-control" id="full-name" name="you-full-name" type="text" aria-required="true">
					</div>
          
          <div class="form-group">
						<label class="form-label-bold" for="full-name">Reference number</label>
            <p class="form-hint">Find this on your offer letter.</p>
						<input class="form-control" id="full-name" name="you-full-name" type="text" aria-required="true">
					</div>
          
          <h2 class="heading-medium">Do you accept this offer?</h2>
					<div class="form-group inline form-group-compound" aria-labelledby="represent">
						<label class="block-label" for="accept-yes">
							<input id="accept-yes" type="radio" name="accept-offer" value="Yes">
							Yes
						</label>
						<label class="block-label" data-target="handbag" for="accept-no">
							<input id="accept-no" type="radio" name="accept-offer" value="No">
							No
						</label>
					</div>
          
          <div class="js-hidden panel-indent" id="handbag">
						<p>What is it about your offer that doesn’t work for you?</p>
            <textarea class="form-control" id="no-text" /></textarea>
          </div>

				</fieldset>

        <div id="continue">
		      <input type="submit" value="Continue" class="button" />
        </div>

			</form>

		</section>
    
    {# {% include "application/mvp/leftcol.html" %} #}

	</div>

</main>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
	$('#continue input').on('click',function(e)
	{
		e.preventDefault();
		var yes = $('#accept-yes').prop('checked');
		var no = $('#accept-no').prop('checked');
		if (!yes && !no)
		{
			alert('Select Yes or No.')
		} else if (yes) {
			$('form').attr('action','accepted');
			$('form').submit();
		} else if (no) {
			$('form').attr('action','rejected');
			$('form').submit();
		}
	});
</script>
{% endblock %}
