<html>
<head>
	<title>An letter to you</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link href="/public/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/email.css">
  <style media="screen">
    .heading-medium {
      margin-top:45px;
    }
  </style>
</head>

<body class="email-page">

<div class="email">
	<h1 class="heading-medium" style="border-bottom:1px solid black; margin-top:0">Letter</h1>
	<p class="letter-meta letter-to">
    Access to Work<br />
    Operational Support Unit<br />
    Harrow Jobcentre<br />
    Mail Handling Site A<br />
    Wolverhampton<br />
    WV98 1JE<br /><br />
    www.gov.uk<br /><br />
    Telephone:	0345 268 8489<br />
    Textphone:	0345 608 8753<br /><br />
    <span style="font-weight:700">1st June 2016</span>
  </p>
  <p><img src="/public/images/DWP-logo.png" width="160" /></p>
	<div class="email-body" style="clear:both;">
    <p class="">
      {{ you_full_name | default("Mrs Smith") }}<br />
      The Old Rose Bowl<br />
      Ferrywheel<br />
      Dorset<br />
      DR3 8GE
		</p>
		<p style="margin-top:60px;">Dear {{ you_full_name | default("Mrs Smith") }}</p>
		<p>You've been awarded an Access to Work grant.</p>
    <h3 class="heading-medium">Reference: ATW-4890-XC</h3>
    
    <h3 class="heading-medium" style="margin-top:45px">Your offer</h3>
    
    {% if user['start']['fast'] %}

      {% set deafoffers = user.offers.deaf | arrayify %}

      {% for item in user['hearing']['deaf_need'] | arrayify %}
        <p>You said you need {{ item }}.</p>
        <p>To help with this you can have a grant to pay for: {{ deafoffers[loop.index0] }}</p>
      {% endfor %}

    {% endif %}

    {% if user['travel']['help-travelling'] == 'Yes' %}
      <p>You said you can't get to or from work OK.</p>
      <p>To help with this you can have a grant to pay for: <b>{{ user.offers.travel }}</b></p>
    {% endif %}

    {% if user['during_work']['help-during-work'] == "whole" %}
      <p>You said: {{ user['during_work']['whole-day-desc'] }}.</p>
      <p>To help with this you can have a grant to pay for: <b>{{ user.offers.daywork | safe }}</b></p>
    {% elif user['during_work']['help-during-work'] == "part" %}      
      {% for item in user['during_work']['during_work_tasks'] | arrayify %}
        {% set workoffers = user.offers.work | arrayify %}
        <p>You said you struggle with {{ item | safe  }}. We can offer you: <b>{{ workoffers[loop.index0] | safe }}</b></p>        
      {% endfor %}
    {% endif %}
    
    <h3 class="heading-medium">What you need to do next</h3>
    <ul class="list list-bullets">
      <li>discuss the agreed support with your manager (if you're not self-employed)</li>
      <li>respond to your offer at <a href="http://accesstowork.herokuapp.com/offer/mvp/">http://accesstowork.herokuapp.com/offer/mvp/</a> </li>
		</ul>
    <p>If you can't get online you can sign and return the printed declaration included with this letter. If you don't reply within 4 weeks the offer can be withdrawn and you'll need to apply again.</p>
  

    <img style="margin-top:30px;" src="/public/images/sig.png" width="35%" />
      
		<p>Yours sincerely</p>
		<p>Linda Anderson<br /><small>(Access To Work advisor)</small></p>
	</div>
</div>

</body>
</html>
