{% extends "layout.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<section class="column-two-thirds" aria-labelledby="aboutyou">

			<div class="completion">
        <h1 class="form-title heading-large" id="complete" style="padding-top:30px">Offer rejected</h1>
        <p style="color:white;margin-top:-30px">Your reference number is: <b style="font-weight:700">KJSAD8D</b></p>
      </div>

			<h2 class="heading-medium">What happens next</h2>
			<p>Your comments have been received. Someone will look at your application again and will get in contact to let you know what will happen next.</p>
			<p>For the offer to be changed you'll usually need to add to the information you gave in your original application.</p>

		</section>
    
    {# {% include "application/mvp/leftcol.html" %} #}

	</div>

</main>

{% endblock %}
