{% extends "layout.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<section class="column-two-thirds" aria-labelledby="aboutyou">

			<h1 class="form-title heading-xlarge" style="margin-top:30px;">Offer rejected</h1>
			<p>Your comments have been received. Someone will look at your application again and will get in contact to let you know what will happen next.</p>
			<p>For the offer to be changed you'll usually need to add to the information you gave in your original application.</p>

		</section>
    
    {# {% include "application/mvp/leftcol.html" %} #}

	</div>

</main>

{% endblock %}
