{% extends "layout.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<section class="column-two-thirds" aria-labelledby="aboutyou">

			<h1 class="form-title heading-xlarge" style="margin-top:30px;">Thanks</h1>
			
			<h2 class="form-title heading-large" style="margin-top:30px;">What happens next?</h1>
			<p>People will do things and things will happen.</p>

		</section>
    
    {# {% include "application/mvp/leftcol.html" %} #}

	</div>

</main>

{% endblock %}
