{% extends "application/v11/layout.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

<section class="column-two-thirds" aria-labelledby="thirdparty">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large" id="thirdparty">
    <span class="section-progress">Section 2 of 7</span>
    Type of support worker
  </h1>

  <form action="hearing-tasks" method="post" class="form" id="theForm">

      <!-- WHAT DO YOU NEED -->
      <fieldset class="form-group" id="deaf-need">
        <legend class="heading-medium" id="deaf-need-label">Do you need one of these?</legend>
        <p>Select all that apply</p>
        <div class="form-group form-group-compound" aria-labelledby="deaf-need-label">
          <input id="deaf-need-bsl" type="checkbox" name="deaf-need" value="a BSL interpreter" />
          <label class="form-label form-control-checkbox" for="deaf-need-bsl"> BSL interpreter </label>
          <input id="deaf-need-lip" type="checkbox" name="deaf-need" value="a lip speaker" />
          <label class="form-label form-control-checkbox" for="deaf-need-lip"> Lip speaker </label>
          <input id="deaf-need-notetaker" type="checkbox" name="deaf-need" value="a note taker" />
          <label class="form-label form-control-checkbox" for="deaf-need-notetaker"> Note taker </label>
          <!-- <input id="deaf-need-none" type="checkbox" name="deaf-need" value="Something else" />
          <label class="form-label form-control-checkbox" for="deaf-need-none"> Something else </label> -->
        </div>
      </fieldset>

    <!-- NEXT BUTTON -->
    <fieldset class="primary-nav form-group">
      <legend>Form Navigation</legend>
      <input type="submit" value="Continue" class="button" id="nextButton"/>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

{% include "application/v11/rightcol.html" %}

</div><!-- .grid-row -->

</main>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    var form = $('form');
    $('#nextButton').on('click',function(e)
    {
      e.preventDefault();

      /*
        Check they've picked something.
      */
      var picked = false;
      $('input[name="deaf-need"]').each(function(i,el)
      {
        if ($(el).prop('checked')) picked = true;
      });

      /*
        Alert them if not or let them through.
      */
      if (!picked) alert('Please pick one!')
      else {
        form.submit();
      }

      // grab the form as an array.
      // var f = form.serializeArray();
      // reset the count so the next page works.

    });
  });
</script>
{% endblock %}
