{% extends "application/v11/layout.html" %}

{% block page_title %}Can you get an Access to Work grant?{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/alpha.html" %}

  <div class="grid-row">

    <section class="column-two-thirds">

      <h1 class="form-title heading-xlarge">Apply for an Access to Work grant</h1>

      <nav class="intro-nav">
        <ol>
          <li class="font-xsmall">
            <span class="part-number">1.</span>
            <a href="index" title="Part 1: Overview">Overview</a>
          </li>
          <li class="active font-xsmall">
            <span class="part-number">3.</span>
            <span>Apply</span>
          </li>
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro3" title="Part 2: What you'll get">What you'll get</a>
          </li>
          <!--
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
           -->
        </ol>
      </nav>

      <div class="intro-content">
        <h2 class="heading-medium">3. Apply</h2>

        <p class="font-small" id="grant">To get an Access to Work grant you must:</p>

        <ul class="list-bullet" aria-labelledby="grant">
          <li>be 16 or over</li>
          <li>live and work in England, Scotland or Wales - there's a different system in <a href="http://www.nidirect.gov.uk/access-to-work-practical-help-at-work">Northern Ireland</a></li>
          <li>have a job</li>
          <li>have a long-term disability or health condition</li>
        </ul>
        <p class="font-small">Department for Work and Pensions will contact your employer when you apply and an assessor might have to visit you at work.</p>
        <details>
          <summary><span class="summary">About long-term health conditions</span></summary>
          <div class="panel-indent">
            <p id="health">Your health condition or disability doesn't have to be permanent but you must either:</p>
            <ul aria-labelledby="health" class='list-bullet'>
              <li>have had it for at least a year</li>
              <li>expect it to last at least another 12 months from when you apply</li>
            </ul>
          </div>
        </details>
        <br />        

        <p><a href="start" class="button button-get-started">Start now</a></p>
      </div><!-- .intro-content -->

      <nav class="intro-next">
        <a href="intro3" class="first" rel="next" title="Navigate to previous part">Previous<span class="pagination-part-title">What you'll get</span></a>
      </nav>

    </section>

    {% include "includes/elsewhere.html" %}

  </div>

</main>

{% endblock %}

