{{<layout}}

{{$pageTitle}}
	Access To Work - Prototype
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="column-third">
		<h2 class="heading-medium">Hello Linda</h2>
		<h3>Your applications</h3>
		<ul>
			<li><a href="application">Jacob Hudson</a> - 5th Jun</li>
			<li><a href="application">Timothy Perez</a> - 23th July</li>
			<li><a href="application">Olivia Peterson</a> - 42nd Sept</li>
			<li><a href="application">Ashley Williamson</a> - 12th Apr</li>
		</ul>
	</div>

	<div class="column-two-thirds">
		<h1 class="heading-large">Application</h1>
	</div>

</main>

{{/content}}

{{/layout}}