{% extends "staffui/layout.html" %}

{% block pageTitle %}
	Access To Work - Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="staff-container">

	<section class="staff-nav">
		<div class="staff-nav-links">
			<ol>
				<li><a href="/staffui/all" class="selected">All claimants</a></li>
				<li><a href="/staffui/adviser/0">Your claimants</a></li>
			</ol>
		</div>
	</section>

	<section aria-labelledby="staffui" class="staff-main">

		<h1 class="form-title heading-large" id="staffui">All claimants</h1>

		<ol class="stats">
			{% for key in ['just in','allocated','gathering','support agreed','needs review'] %}
				<li>
					<p class="stat-label">{{ key }}</p><h2 class="stat-num heading-xlarge">{{ counts[key] }}</h2>
				</li>
			{% endfor %}
		</ol>

		<table>
			<thead>
				<tr>
					<th>claimant</th>
					<th><a href="all/status" title="order by status">status</a></th>
					<th>adviser</th>
					<th class="last">last status change</th>
				</tr>
			</thead>
			<tbody class="app-list">
			{% for i in range (0,100) %}
			{% set item = claimants[i] %}
				<tr>
					<td><a href="/staffui/claimant/{{ item.id }}/">{{ item.name }} {{ item.surname }}</a></td>
					<td>
						<span class="tag {{ item.status | slugify }}">{{ item.status }}</span>
					</td>
					<td class="adviser">
						{% if (item.adviser.name) %}
							<a href="adviser/{{ item.adviser.id }}">{{ item.adviser.name }} {{ item.adviser.surname }}</a>
						{% endif %}
					</td>
					<td class="last">{{ item.fromNow }}</td>
				</tr>
			{% endfor %}
	  	</tbody>
		</table>

	</section>

</main>

{% endblock %}
