{% extends "staffui/layout.html" %}

{% block page_title %}
	Access To Work - Prototype
{% endblock %}

{% block staff_content %}

	<section aria-labelledby="staffui" class="staff-main">

		<h1 class="form-title heading-large" id="staffui">All customers</h1>

		<ol class="stats">
			{% for key in ['just in','allocated','gathering','support agreed','needs review'] %}
				<li>
					<p class="stat__label">{{ key }}</p><h2 class="stat-num heading-xlarge">{{ counts[key] }}</h2>
				</li>
			{% endfor %}
		</ol>

		<table class="customers customers--all">
			<thead>
				<tr>
					<th>customer</th>
					<th><a href="all/status" title="order by status">status</a></th>
					<th>adviser</th>
					<th class="last">last status change</th>
				</tr>
			</thead>
			<tbody class="app-list">
			{% if claimants | length %}
				{% for i in range (0,100) %}
				{% set item = claimants[i] %}
					<tr>
						<td><a href="/staffui/claimant/{{ item._id }}/">{{ item.name }} {{ item.surname }}</a></td>
						<td>
							<span class="tag {{ item.status | slugify }}">{{ item.status }}</span>
						</td>
						<td class="adviser">
							{% if (item.adviser.name) %}
								<a href="adviser/{{ item.adviser.id }}">{{ item.adviser.name }} {{ item.adviser.surname }}</a>
							{% endif %}
						</td>
						<td class="last">{{ item.fromNow }}</td>
					</tr>
				{% endfor %}
			{% endif %}
	  	</tbody>
		</table>

	</section>

{% endblock %}
