{{<layout-staff}}

{{$pageTitle}}
	Access To Work - Prototype
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="staff-container">

	<section class="staff-nav">
		<div class="staff-nav-links">
			<ol>
				<li><a href="all-applications">All applications</a></li>
				<li><a href="your-applications" class="selected">Your applications</a></li>
				<li>
					<ol class="staff-apps">
						<li><a href="app-jacob">Jacob Hudson<br /><span class="app-date">5th Jun</span></a></li>
						<li><a href="app-timothy">Timothy Perez<br /><span class="app-date">23th July</span></a></li>
						<li><a href="app-olivia">Olivia Peterson<br /><span class="app-date">2nd Sept</span></a></li>
						<li><a href="app-ashley" class="selected">Ashley Williamson<br /><span class="app-date">12th Apr</span></a></li>
					</ol>
				</li>
			</ol>
		</div>
	</section>

	<section class="staff-main">				
	
		<h1 class="heading-xlarge">Ashley Williamson</h1>
		<dl class="details clearfix"> 
			<dt>Date of birth</dt>
			<dd>13 December, 1976</dd>
			<dt>Address</dt>
			<dd>15 Merrygo Lane, Farniture, Dent, PL7 8JT<dd>
			<dt>Email</dt>
			<dd>themandibleson@gmail.com <span class="tag">preferred</span><dd>
			<dt>Phone</dt>
			<dd>07975 425 859<dd>
		</dl>	

		<h2 class="heading-large">Job</h2>
		<dl class="details clearfix"> 
			<dt>Type</dt>
			<dd>Employed</dd>
			<dt>Title</dt>
			<dd>Graphic designer<dd>
			<dt>Company</dt>
			<dd>Churlish and Blighter Marketing Agency<dd>
		</dl>	

	</section>

</main>

{{/content}}

{{/layout-staff}}