{% extends "staffui/claimant.html" %}

{% block claim_content %}

<div class="timeline">

  {% for i in range (0,20) %}
  {% set item = timeline[i] %}

  <div class="media">
    <div class="img">
      <span class="tag circle {{ item.status.awaiting | slugify }}"></span>
      {# <img src="/public/images/staff/{{ item.icon }}" alt="me" width="50px"/> #}
    </div>
    <div class="bd">

      <h3 class="heading-small heading-top" style="">{{ item.status.label | capitalize }}</h3>
      <p style="font-size:14px;">{{ item.body }}</p>
      <p class="font-xsmall">
        <a href="">{{ item.adviser.name }} {{ item.adviser.surname }}</a> • {{ item.fromNow }}</p>
    </div>
  </div>

  {% endfor %}


</div>
{% endblock %}
