{% extends "staffui/claimant.html" %}

{% block staff_content %}
	<section class="staff-main">
		<h1 class="heading-large">{{ claimant.name }} {{ claimant.surname }}</h1>
		<p class="lede">{{ claimant.condition }}</p>

		{% include "staffui/claimant_tabs.html" %}

		{% block claim_content %}{% endblock %}
	</section>
{% endblock %}

{% block claim_content %}

	<div class="grid-row">

		<div class="column column-third">
			<table class="contact" style="margin-top:60px">
				<tr>
					<td><span class="tag">assessor</span></td>
					<td><a href="#">Eileen Dover (RBLI)</a></td>
				</tr>
				<tr>
					<td><span class="tag">date</span> </td>
					<td>19th July 2016</td>
				</tr>
				<tr>
					<td><span class="tag">attending</span></td>
					<td>
						<p>Dave Burrows (Line Manager)</p>
						<p>Dave Burrows (Line Manager)</p>
						<p>Dave Burrows (Line Manager)</p>
					</td>
				</tr>
			</table>
		</div>

		<div class="column column-two-thirds">
			<h1 class="heading-large">Tasks</h1>
			<h2 class="heading-medium">Computer visual processing</h2>
			<p>The primary element of customer’s role involves working from a computer desk based workstation.
			<p>During these times, he is required to use all functions of his computer, including e-mails and writing reports and letters; as well as data entry. Due to the extent of the volume of data management, he is required to work across a dual screen. To help support his difficulties, his employer has provided him with two larger monitors to help provide an optimum viewing field. The IT support team have also increased the screen resolution.
			<p>With lack of clarity in his vision, it is difficult for Customer to comfortably access all the functions of his computer.  This is particularly the case with reading. Due to the nature of his condition, his vision can vary on a day to day basis. Factors that affect this include tiredness and fatigue and long periods of concentration.</p>
			<h2 class="heading-medium">Recommendations</h2>
			<p>In order to support this, customer would benefit from assistive technology, Supernova Magnifier with Speech on USB.</p>
			<p>The software tool will act as an effective means to grow with customer, where he can adapt and utilise the features as he is required to.</p>
			<h2 class="heading-small">Description of Supernova</h2>
			<p>This is an intuitive piece of assistive technology that allows the user to magnify their screen up to 60 times in all aspects of their PC. The software is personal, in that the user can adapt the settings to accommodate their needs. With this, the software also offers speech function, which acts as a function to read aloud information on the PC screen. This is particularly important for checking and proofing work. The software is very adaptable and allows the user to access a range of features and customisable options that allows the user to adapt for their own individual needs.</p>
			<h2 class="heading-small">Needs a mobile version of Supernova</h2>
 			<p>At present, customer is working through his training programme in a fixed location. However, on completion of training, he is likely to move to another office or workstation. Due to this, he requires access to different computers. For this reason, customer is required to use the USB version of the software that will allow him to use the assistive technology on various computers. In addition to this, due operating on a citrix server, a separate license for Supernova also is required to be purchased to be installed on this server to support compatibility.</p>
			<p>Due to the nature of the business, in which customer is employed, it would be of benefit for customer to have access to magnification/screen reader software that offers compatibility with the citrix/thin environment – an IT platform used by most large employers. This software should be coupled with Supernova Citrix Support Package – a ‘bolt on’ to improve compatibility with ICT systems tht operate using Citrix. This will help to insure that the product offers compatibility and will avoid crashing.</p>
			<h2 class="heading-small">Training on Supernova</h2>
			<p>As a new user to magnification software, it is highly recommended that customer participates in 2 half days of training for Supernova. The magnification software requires a unique set of tools and commands to use the software effectively.</p>
			<h2 class="heading-medium">Soft adjustments</h2>
			<p>Due to the nature of his condition, customer would benefit from some additional soft adjustments. As noted above, customer experiences visual difficulties can vary on a day to day basis. A notable symptom is fatigue and long periods of concentration where his eyes can become exhausted. This can make it difficult to concentrate and visual processing can be affected.</p>
			<p>These soft adjustments will help current to manage the symptoms of his visual impairment</p>
			<h2 class="heading-medium">Recommendations</h2>
			<h3 class="heading-small">Regular access to resting breaks</h3>
			<p>These should be in addition to statutory break times. These may be allocated every 1-3 hours where customer can take a break from his computer screen. He may wish to leave his workstation and go for a short walk or sit somewhere away from his screen. A suggested break of 10-15 minutes may be helpful.</p>
			<h2 class="heading-small">Adjusted expectations</h2>
			<p>With visual difficulties, completing computer based tasks may take longer. With this in mind, it would be helpful for his employer to reduce staff expectations by 30-50% or give additional time for tasks as and when it is required. This will help customer to complete his work accurately and more comfortably in line with his visual needs.</p>
			<h2 class="heading-small">Flexible day working</h2>
			<p>Within his role, there is an expectation that customer may be required to work a 12.00pm – 8.00pm shift pattern. Due to the nature of his visual impairment, customer would benefit from working shifts within the hours of 8.00am and 5.00pm. With fatigue affecting his vision, working in the evening may affect his ability to concentrate, due to the impact on his vision. Working in natural day light as opposed to artificial may also help to reduce the impact of his symptoms.</p>
		</div>

	</div>

{% endblock %}

{% block page_script %}
{% endblock %}
