{% extends "staffui/layout.html" %}

{% block pageTitle %}
	Access To Work - Prototype
{% endblock %}

{% block staff_content %}

	<section class="staff-main">

		<h1 class="heading-large">{{ claimant.name }} {{ claimant.surname }}</h1>
		<p class="lede">{{ claimant.condition }}</p>

		<ul class="nav nav-tabs clearfix">
		  <li class="{{ thispage | check("timeline","active") }}"><a href="/staffui/claimant/{{ claimant.id }}/timeline">Timeline</a></li>
		  <li class="{{ thispage | check("personal","active") }}"><a href="/staffui/claimant/{{ claimant.id }}/personal">Personal Information</a></li>
		  <li class="{{ thispage | check("jobs","active") }}"><a href="/staffui/claimant/{{ claimant.id }}/jobs">Jobs</a></li>
		  <li class="{{ thispage | check("help","active") }}"><a href="/staffui/claimant/{{ claimant.id }}/help">The Help They're Getting</a></li>
		</ul>

		{% block claim_content %}{% endblock %}

	</section>

{% endblock %}
