{% extends "staffui/layout.html" %}

{% block pageTitle %}
	Access To Work - Prototype
{% endblock %}

{% block staff_content %}

	<section class="staff-main">

		<h1 class="heading-large">{{ claimant.name }} {{ claimant.surname }}</h1>

		<ul class="nav nav-tabs clearfix">
		  <li class="{{ thispage | check("timeline","active") }}"><a href="/staffui/claimant/{{ claimant.id }}/timeline">Timeline</a></li>
		  <li class="{{ thispage | check("personal","active") }}"><a href="/staffui/claimant/{{ claimant.id }}/personal">Personal</a></li>
		  <li class="{{ thispage | check("jobs","active") }}"><a href="/staffui/claimant/{{ claimant.id }}/jobs">Jobs</a></li>
		  <li class="{{ thispage | check("elements","active") }}"><a href="/staffui/claimant/{{ claimant.id }}/elements">Elements</a></li>
		</ul>

		{% block c_content %}{% endblock %}

	</section>

{% endblock %}
