{% extends "staffui/claimant.html" %}

{% block claim_content %}

<div class="timeline">

  {% for i in range (0,20) %}
  {% set item = timeline[i] %}

  <div class="media">
    <div class="img">
      <img src="/public/images/staff/{{ item.icon }}" alt="me" width="50px"/>
    </div>
    <div class="bd">
      <p style="float:right"><span class="tag {{ item.status | slugify }}">{{ item.status }}</span></p>
      <h3 class="heading-small heading-top">{{ item.heading }}</h3>
      <p style="font-size:14px;">{{ item.body }}</p>
      <p class="font-xsmall">
        <a href="">{{ item.adviser.name }} {{ item.adviser.surname }}</a> • {{ item.fromNow }}</p>
    </div>
  </div>

  {% endfor %}


</div>
{% endblock %}
