{% extends "staffui/layout.html" %}

{% block pageTitle %}
	Access To Work - Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="staff-container">

	<section class="staff-nav"></section>

	<section aria-labelledby="staffui" class="staff-main">

			<h1 class="heading-large">Pages</h1>
			<ol class="screens">
				<li><a href="login">
          login <div style="background-image:url(/public/images/shots/o/atwsa/login-thumb.png)"></div>
        </a></li>
        <li><a href="all">
          all customers <div style="background-image:url(/public/images/shots/o/atwsa/all-thumb.png)"></div>
        </a></li>
        <li><a href="adviser">
          all customers <div style="background-image:url(/public/images/shots/o/atwsa/adviser-thumb.png)"></div>
        </a></li>
				<li><a href="claimant">
          customer - timeline <div style="background-image:url(/public/images/shots/o/atwsa/claimant-thumb.png)"></div>
        </a></li>
				<li><a href="claimant/0/personal/">
          customer - personal <div style="background-image:url(/public/images/shots/o/atwsa/claimant_0_personal-thumb.png)"></div>
        </a></li>
				<li><a href="claimant/0/jobs/">
          customer - jobs <div style="background-image:url(/public/images/shots/o/atwsa/claimant_0_jobs-thumb.png)"></div>
        </a></li>
			</ol>

	</section>
</div>
</main>

{% endblock %}
