{% extends "staffui/layout.html" %}

{% block pageTitle %}
	Access To Work - Prototype
{% endblock %}

{% block content %}

{% set pages = ["login","all","adviser","claimant","claimant_0_personal","claimant_0_job","claimant_0_help"] %}

<main id="content" role="main">
<div class="staff-container">

	<section class="staff-nav"></section>

	<section aria-labelledby="staffui" class="staff-main">

			<h1 class="heading-large">Pages</h1>
			<ol class="screens">
				{% for item in pages %}
					<li><a href="login">
						{{ item }} <div style="background-image:url(/public/images/pages/staff/{{ item }}-thumb.png)"></div>
					</a></li>
				{% endfor %}
			</ol>

	</section>
</div>
</main>

{% endblock %}
