<tr class="">
  <td class="heading-medium">2</td>
  <td>
    <textarea name="solution_1" class="form-control autocompleted" style="resize:none;min-height:auto">Super Duper&trade; Hearing Aid</textarea>
    <div class="grey font-xsmall btop" style="position:relative">
      Requested by customer<br />
      <a id="view_quote" href="#">view quote</a>
      <p class="quote">&ldquo;This would be really useful for me as it's a flexible way for me to manage my condition and perform the tasks I need to do in a way which doesn't impact my colleagues or my working environment&rdquo;
    </div>

  </td>
  <td>
    <textarea name="" class="form-control"></textarea>
  </td>
  <td> <input name="solution_1" type="text" class="form-control" style="width:100%"/> </td>
  <td> <label class="form-label form-control-checkbox" for="todo_1"></label> <input id="todo_1" type="checkbox" name="" value="" /> </td>
</tr>
