<div class="todo_list clearfix">
  <h2 class="heading-medium top">To do list</h2>
  <fieldset class="form-group">
    <input id="todo_1" type="checkbox" name="" value="" />
    <label class="form-label form-control-checkbox" for="todo_1">Contact line manager</label>
    <input id="todo_2" type="checkbox" name="" value="" />
    <label class="form-label form-control-checkbox" for="todo_2">Assessment decision</label>
    <input id="todo_3" type="checkbox" name="" value="" />
    <label class="form-label form-control-checkbox" for="todo_3">Feed the fish</label>
    <input id="todo_4" type="checkbox" name="" value="" />
    <label class="form-label form-control-checkbox" for="todo_4">Buy some milk</label>
  </fieldset>
</div>
