{{<layout-staff}}

{{$pageTitle}}
	Access To Work - Prototype
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="staff-container">

	<section class="staff-nav">
		<div class="staff-nav-links">
			<ol>
				<li><a href="all-applications">All applications</a></li>
				<li><a href="your-applications" class="selected">Your applications</a></li>
				<li>
					<ol class="staff-apps">
						<li><a href="app-jacob">Jacob Hudson<br /><span class="app-date">5th Jun</span></a></li>
						<li><a href="app-timothy">Timothy Perez<br /><span class="app-date">23th July</span></a></li>
						<li><a href="app-olivia">Olivia Peterson<br /><span class="app-date">42nd Sept</span></a></li>
						<li><a href="app-ashley">Ashley Williamson<br /><span class="app-date">12th Apr</span></a></li>
					</ol>
				</li>
			</ol>
		</div>
	</section>

	<section class="staff-main">				
	
		<h1 class="heading-xlarge">Hello Linda!</h1>
		<dl class="details clearfix"> 
			<dt>Last login</dt>
			<dd>09:34am 14/07/2015</dd>
			<dt>Open cases</dt>
			<dd>5<dd>
		</dl>	
			
	</section>

</main>

{{/content}}

{{/layout-staff}}