{% extends "layout.html" %}

{% block pageTitle %}Application complete{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">


{% include "includes/leftcol.html" %}


<section class="column-two-thirds" aria-labelledby="complete">

 
<div class="completion">
	<h1 class="form-title heading-large" id="complete">Your application is complete</h1>
</div>

	
 <div class="form-group">	       
	       
       <h2 class="heading-medium">What happens next</h2>
       
       <p>You or your representative (if you gave one) will get a phone call or email before next Tuesday to discuss your application further.</p>
       
       <p>If an assessor needs to see you at your workplace, you'll be told when this will happen.</p>	 
	       
 </div>


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <ul>
		<li><a href="index" class="button">Finish</a></li>
		<li><a href="aboutjob">Make another claim</a></li>
      </ul>
    </div>

  
</section>

</div>


</main>

{% endblock %}

