{% extends "layout.html" %}

{% block pageTitle %}Can you get an Access to Work grant?{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

{% include "includes/leftcol.html" %}

<section class="column-two-thirds">

  <h1 class="form-title heading-xlarge">You won't get an Access to Work grant</h1>
  	   <p id="payHelp">An Access to Work grant can only pay for help with:</p>
	   <ul aria-labelledby="payHelp" class="list-bullet">
			<li>managing difficulties caused by your condition that make it harder for you to do your job</li>
			<li>travelling to or from work or as part of your job</li>
			<li>communicating in a job interview</li>
	   </ul>
	   <p>You may be <a href="https://www.gov.uk/benefits-calculators">eligible for other benefits</a>.</p>
    
</section><!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{% endblock %}

