{% extends "staffui/mvp/layout.html" %}

{% block staff_content %}

  {# {{ cases | log }} #}
  
  <h2 class="heading-xlarge">Adviser: {{ cases[0].adviser.name }} {{ cases[0].adviser.surname }}</h2>
  
  <div class="grid-row">
    <div class="column-full">    
      
      <table style="margin-bottom:60px;">
        <thead>
          <tr>
            <th style="padding-left:15px;">Name</th>
            <th>Allocation</th>
            {# <th width="30%">Condition</th> #}
            <th>Job</th>
            <th class="numeric">Date</th>
          </tr>
        </thead>
      {% for i in range(0, cases.length) %}
        {% set item  = cases[i] %}
        <tr class="customer_row" data-id="{{ item._id }}">
          <td style="padding-left:15px;" class="">{{ item.name }} {{ item.surname }}</td>
          <td><span class="tag {{ item.allocation }}">{{ item.allocation }}</span></td>
          {# <td>{{ item.condition }}</td> #}
          <td>{{ item.job_title }}</td>
          <td class="nobr numeric">{{ item.postDate | formatDate('Do MMMM YYYY') }}</td>
        </tr>
        {# {{ item | log }} #}    
      {% endfor %}
      </table>
      
    </div><!-- column -->
  </div><!-- row -->  
    
{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.customer_row').on('click',function(e)
    {
      e.preventDefault();
      var id = $(this).data('id');
      window.location.href = "/staffui/mvp/customer/"+id;
    });
  });
</script>
{% endblock %}
