{% extends "staffui/mvp/layout.html" %}

{% block staff_content %}

<h1 class="heading-large">Open Cases</h1>

<div class="grid-row">
  <div class="column-full">
    <table>
      <thead>
        <tr>
          <th style="padding-left:15px;">Name</th>
          <th width="30%">Condition</th>
          <th>Job</th>
          <th class="numeric">Date</th>
        </tr>
      </thead>
    {% for i in range(0, 100) %}
      {% set item  = cases[i] %}
      <tr class="customer_row" data-id="{{ item.id }}">
        <td style="padding-left:15px;">{{ item.name }} {{ item.surname }}</td>
        <td>{{ item.condition }}</td>
        <td>{{ item.job_title }}</td>
        <td class="nobr numeric">{{ item.postDate | formatDate('Do MMMM YYYY') }}</td>
      </tr>
      {# {{ item | log }} #}    
    {% endfor %}
    </table>
  </div><!-- column -->
</div><!-- row -->  

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.customer_row').on('click',function(e)
    {
      e.preventDefault();
      var id = $(this).data('id');
      console.log(id); 
      window.location.href = "/staffui/mvp/"+id;
    });
  });
</script>
{% endblock %}
