<html>
<head>
	<title>An email to you</title>	
	<link href="/public/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/email.css">
</head>
<body>

<div class="email">
	<p class="email-meta email-to"><span class="meta-label">To:</span> tsmorgan@gmail.com</p>
	<p class="email-meta email-from"><span class="meta-label">From:</span> accesstowork@dwp.gsi.gok.uk</p>
	<div class="email-body">
		<p>Dear Mrs Smith</p>
		<p>You've been awarded an Access to Work grant to pay for taxis to and from your place of work 3 times a week.</p>
		<p>If you agree you can <a href="/offeranddeclaration/">accept this offer online</a>. </p>
		<!-- <p>http://atw.dwp.gov.uk/offdec/as64sdh3776sj39263j2837sd8263</a></p> -->
		<p>If this doesn't meet your needs or you'd like to discuss your offer further, then telephone 0800 000 0800.</p>

		<p>Yours sincerely</p>
		<p>Linda Anderson<br /><small>(Access To Work advisor, Halifax)</small></p>
	</div>	
</div>

</body>
</html>