<html>
<head>
	<title>An email to you</title>	
	<link href="/public/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/email.css">
</head>
<body>

<div class="email">
	<p class="email-meta email-to"><span class="meta-label">To:</span> tsmorgan@gmail.com</p>
	<p class="email-meta email-from"><span class="meta-label">From:</span> accesstowork@dwp.gsi.gok.uk</p>
	<div class="email-body">
		<p>Dear Mrs Smith</p>
		<p>Thank you for your application for an Access To Work grant. After looking at the information you've sent, we've decided that we can help you by paying for a taxi to take you to and from work on a Monday, Tuesday and Thursday when you said you'd be working.</p>
		<p>If this seems OK to you please follow the link below and you'll be taken to a web page where you can agree to this offer and find out more information about how to start getting the help you need and getting us to pay for it.</p>
		<p><a href="/offeranddeclaration/">http://atw.dwp.gov.uk/offdec/as64sdh3776sj39263j2837sd8263</a></p>

		<p>Yours sincerely</p>
		<p>Linda Anderson<br /><small>(Access To Work advisor, Halifax)</small></p>
	</div>	
</div>

</body>
</html>