{{<layout_v8}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="grid-row">

<section >

    <h1 class="heading-large">Your offer</h1>
    <p class="">REF: {{ reference }}</p>
    <h2 class="heading-medium">You told us:</h2>    
    <table class="offer-table"> 
      <tr>
        <td class="title">Your job</td>
        <td class="condition">Technical Architect</td>
      </tr>
      <tr>
        <td class="title">Your condition</td>
        <td class="condition">Back pain &amp; anxiety caused by severe diabetes</td>
      </tr>
      <tr>
        <td class="title no-border" colspan="2">This condition makes it harder for you to:</td>
      </tr>
      <tr>
        <td></td>
        <td style="padding-top:0;">
          <ol class="task-list">
            <li>
              <h3 class="heading-small" style="margin-top:0;">Make phone calls</h3>
              <p>&ldquo;I find it hard to hold a phone and listen for an extended period of time.&rdquo;</p>
            </li>
            <li>
              <h3 class="heading-small">Sit at my deak</h3>
              <p>&ldquo;I experience pain and discomfort when I do this for longer than 30 minutes..&rdquo;</p>
            </li>
            <li>
              <h3 class="heading-small">Communicating with my line manager and colleagues</h3>
              <p>&ldquo;My anxiety causes stress in these situations.&rdquo;</p>
            </li>
          </ol>
        </td>        
      </tr>
    </table>

    <h2 class="heading-medium">After careful consideration we have decided to offer you:</h2>    
    <table class="offer-table">
      <tr>
        <td></td>
        <td style="padding-top:0;">
          <ol class="task-list">
            <li>
              <h3 class="heading-small" style="margin-top:0;">Make phone calls</h3>
              <p>Funding for a communication support worker.</p>
            </li>
            <li>
              <h3 class="heading-small">Sit at my deak</h3>
              <p>Funding towards a suitably adapted chair.</p>
            </li>
            <li>
              <h3 class="heading-small">Communicating with my line manager and colleagues</h3>
              <p>Funding towards the cost of a disability awareness sessions.</p>
            </li>
          </ol>
        </td>        
      </tr>
    </table>

    <form action="offer" methodS="post">
      <h2 class="heading-medium">Do you accept this offer?</h2>      
      <fieldset class="form-group" style="margin:1em 0 2em">
        <input id="offer-agree" type="radio" value="agree" name="offer-agree">
        <label class="form-label form-control-radio" for="offer-agree" data-target="submit">I agree to accept this offer</label>      
        <input id="offer-disagree" type="radio" value="disagree" name="offer-agree">
        <label class="form-label form-control-radio" for="offer-disagree">I don't agree and won't accept this offer</label>
      </fieldset>
      <fieldset class="primary-nav form-group js-hidden" id="submit">  
        <a href="finish" class="button">Submit</a>          
      </fieldset>
    </form>

</section>

</div>

</main>

{{/content}}

{{/layout_v8}}