{{<layout_v8}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="grid-row">

<section class="column-two-thirds">

	<h1 class="heading-large">Please type in your reference number</h1>

	<fieldset class="form-group">
		<input class="form-control form-control-3-4" />
	</fieldset>

	<fieldset class="primary-nav form-group">      
      <ul> <li><input type="submit" value="Next" class="button" id="nextButton"/></li> </ul>
    </fieldset>

</section>

</div>

</main>

{{/content}}

{{/layout_v8}}