{{<layout_v8}}

{{$pageTitle}}About you{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

{{>includes/leftcol}}

<section class="column-two-thirds" aria-labelledby="aboutyou">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

  <!-- HEADING -->
  <h1 class="form-title heading-large" id="aboutyou"><span class="section-progress">Section 5 of 5</span> About you</h1>

  <form action="declaration" method="post" class="form">

    <fieldset>
      <legend class="hidden-legend" aria-hidden="true">How should we contact you</legend>

      <!-- PHONE -->
      <div class="form-group">
        <label class="form-label-bold" for="telephone-number" id="phone-number-label">Phone number</label>
        <p class="form-hint">This can be a landline, mobile or text phone number.</p>
        <input class="form-control" id="telephone-number" name="you-telephone-number" type="text" aria-required="true">
      </div>

      <!-- EMAIL -->
      <div class="form-group">
        <label class="form-label-bold" for="email-address">Email address</label>
        <input class="form-control" id="email-address" name="you-email-address" type="text" aria-required="true">
        <label class="form-checkbox form-label" for="checkbox-email-address">
      <input id="checkbox-email-address" name="you-email-address-prefer" type="checkbox" value="email_prefferred">
          Check this box if you'd prefer emails rather than a phone call at the next stage of your application.
      </label>
      </div>

    </fieldset>

    <fieldset class="primary-nav form-group">
      <legend>Form Navigation</legend>
      <ul>
        <li><input type="submit" value="Next" class="button" /></li>
      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{{/content}}

{{/layout_v8}}