{{<layout}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">




{{>includes/leftcol}}


<section class="column-two-thirds" aria-labelledby="aboutjob">

<h1 class="form-title heading-large" id="aboutjob"><span class="section-progress">Section 3 of 4</span> About your interview</h1>
    
<form action="/" method="post" class="form">

	<fieldset>
		<legend class="hidden-legend" aria-hidden="true">Your role and who you work for</legend>

	<div class="form-group">
	  	<label class="form-label-bold" for="job-title">Job title</label>
		<input class="form-control" type="text" id="job-title">
	</div>

	<div class="form-group">
		<label class="form-label-bold" for="company-name">Employer</label>
	    <input class="form-control" type="text" id="company-name">
  	</div>

	<div class="form-group">
		<fieldset class="inline">
		<legend class="form-label-bold">Date of interview</legend>

		<div class="form-date">
		  <p class="form-hint">For example, 08 4 2014.</p>
		  <div class="form-group form-group-day">
		    <label for="interview-day">Day</label>
		    <input type="text" class="form-control" id="interview-day">
		  </div>
		  <div class="form-group form-group-month">
		    <label for="interview-month">Month</label>
		    <input type="text" class="form-control" id="interview-month">
		  </div>
		  <div class="form-group form-group-year">
		    <label for="interview-year">Year</label>
		    <input type="text" class="form-control" id="interview-year">
		  </div>
		</div>

		</fieldset>
	</div>

  	<div class="form-group">
	  	<fieldset>	    
	  		<legend class="form-label-bold main">Place of interview</legend>
		    <div class="form-group">
				<label class="form-label" for="address-line1"><input type="text" class="form-control" id="address-line1"></label>
				<label class="form-label" for="address-line2"><input type="text" class="form-control" id="address-line2"></label>
				<label class="form-label" for="address-line3"><input type="text" class="form-control" id="address-line3"></label>
		  	</div>		  	
		  	<div>
				<label class="form-label" for="postcode">Postcode</label>
				<input type="text" class="form-control-1-4" id="postcode">
		  	</div>	  	
	  	</fieldset> 
  	</div>
  		

	<div class="form-group">
		<label class="form-label-bold" for="employer-name">Interview contact</label>
		<p>So that we can phone to verify that you really do have an interview at that place, and on that day</p>
		<input class="form-control" type="text" id="employer-name">
  	</div>

  	<div class="form-group">
  		<label class="form-label-bold" for="telephone-number">Their contact number</label>
		  <input class="form-control" id="telephone-number" type="text">
  	</div>

	</fieldset>

    <!-- Primary buttons, secondary links -->
    
    
    <fieldset class="primary-nav form-group">
		<legend>Navigation</legend>   
		      <ul>
				<li><a href="declaration" class="button">Next</a></li>
				<li><a href="aboutjob">Back</a></li>
		      </ul>
	</fieldset>
    
    

  </form>
  
</section>

</div>

</main>

{{/content}}

{{/layout}}

