{{<layout}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row pop">




{{>includes/leftcol}}


<section class="column-two-thirds" aria-labelledby="aboutjob">

 
<h1 class="form-title heading-large" id="aboutjob"><span class="section-progress">Section 3 of 4</span> About your job</h1>
    

<form action="aboutdisability" method="post" class="form">

	<fieldset>
		<legend class="hidden-legend" aria-hidden="true">Your job and what you do</legend>

		    <div class="form-group">
		  		<label class="form-label-bold" for="work-involve" id="work-involveexample">What does your day to day work involve?</label>		  		
			    <textarea class="form-control" id="work-involve" name="work-work-involve"></textarea>
		  	</div>
		
		  	<div class="form-group">
		      <fieldset class="inline">
		        <legend class="form-label-bold">When did you start this job?</legend>
		
		        <div class="form-date">
		          <p class="form-hint">For example, 08 4 2014.</p>
		
		          <div class="form-group form-group-day">
		            <label for="dob-day">Day</label>
		            <input type="text" class="form-control" id="dob-day" name="work-dob-day">
		          </div>
		          <div class="form-group form-group-month">
		            <label for="dob-month">Month</label>
		            <input type="text" class="form-control" id="dob-month" name="work-dob-month">
		          </div>
		          <div class="form-group form-group-year">
		            <label for="dob-year">Year</label>
		            <input type="text" class="form-control" id="dob-year" name="work-dob-year">
		          </div>
		        </div>
		
		      </fieldset>
		    </div>
		    
		    
		    <div class="form-group">
		  		<label class="form-label-bold" for="work-days" id="work-daysexample">How many days a week do you usually work?</label>
			    <textarea class="form-control" id="work-days" name="work-work-days"></textarea>
		  	</div>
		    
		    <div class="form-group">
		  		<label class="form-label-bold" for="job-title">How many hours a week do you usually work?</label>
				<p class="form-hint" aria-labelledby="work-daysexample">If your hours change from week to week you can put a range, eg between 35 and 40 hours a week.</p>
			    <input class="form-control-1-4" type="tel" id="job-title" name="work-job-hours">
		  	</div>
		
		  	<div class="form-group">
		  	
		  		<fieldset class="inline">
				    <legend class="form-label-bold">Is this a permanent job?</legend>
				    <div class="form-group form-group-compound">
				      <label class="block-label" for="end-yes">
				        <input id="end-yes" type="radio" name="work-end" value="Yes">
				        Yes
				      </label>
				      <label class="block-label" data-target="end-date" for="end-no">
				        <input id="end-no" type="radio" name="work-end" value="No">
				        No
				      </label>
				    </div>	
				  </fieldset>
				  
				  <div class="panel-indent js-hidden" id="end-date" name="work-end-date">
				     	<fieldset>
					        <legend class="form-label">End date (optional)</legend>
					
					        <div class="form-date">
					          <!-- <p class="form-hint">For example, 08 4 2014</p> -->
					
					          <div class="form-group form-group-day">
					            <label for="dob-day2">Day</label>
					            <input type="text" class="form-control" id="dob-day2" name="work-end-day">
					          </div>
					          <div class="form-group form-group-month">
					            <label for="dob-month2">Month</label>
					            <input type="text" class="form-control" id="dob-month2" name="work-end-month">
					          </div>
					          <div class="form-group form-group-year">
					            <label for="dob-year2">Year</label>
					            <input type="text" class="form-control" id="dob-year2" name="work-end-year">
					          </div>
					        </div>
					      </fieldset>
						</div>
		  	</div>
		  	
	</fieldset>

  	    <!-- Primary buttons, secondary links -->

    <fieldset class="primary-nav form-group">
		<legend>Navigation</legend>     
		      <ul>
		      	<li><input type="submit" value="Next" class="button"/></li>			
				<li><a href="javascript:history.go(-1);">Back</a></li>
		      </ul>
	</fieldset>

</form>

</section>

</div>

</main>

{{/content}}

{{/layout}}

