{{<layout}}

{{$pageTitle}}Disclaimer{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">


{{>includes/leftcol}}


<section class="column-two-thirds" aria-labelledby="disclaimer">


	<h1 class="form-title heading-large" id="disclaimer">Disclaimer</h1>

     <div class="form-group">
	 	
	 	<p class="font-small" id="grant">To get an Access to Work grant you must be:</p>
	 	   
 	    <ul class="list-bullet" aria-labelledby="grant">
			<li>16 or over</li>
			<li>have a disability that makes it difficult for you to do your current job or a job you're about to start</li>
			<li>live and work in England, Scotland or Northern Ireland</li>
	   </ul>

	   <p class="font-small">As part of the application process Department for Work & Pensions will contact your employer. Your employer could have to 
	   pay some of your grant, depending on how much you get.</p>
	   <p class="font-small">An assessor might have to visit you at work to make a decision.</p>

		<details>
			<summary><span class="summary">Help with nationality</span></summary>
			<div class="panel-indent">
				<p> If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card. </p>
				<p> We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post. </p>
			</div>
		</details>
	   
     </div>	

	<form action="/" method="post" class="form">
	
		<fieldset class="primary-nav form-group">
			<legend>Form Navigation</legend>
	
		      <ul>
				<li><a href="aboutyou" class="button">I understand - start my application</a></li>
		        <li><a href="intro4">Back</a></li>
		      </ul>
	
		</fieldset>
	
	</form>
  
</section>

</div>





</main>

{{/content}}

{{/layout}}

