{{<layout}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

{{>includes/leftcol}}

<section class="column-two-thirds" aria-labelledby="aboutjob">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large" id="aboutjob">
    <span class="section-progress">Section 2 of 5</span>
    Exploring your needs
  </h1>

  <form action="describe" method="post" class="form">

    <!-- YOUR CONDITION -->
    <div class="form-group">
      <label class="form-label-bold" for="conditions-and-dis" id="">What is your condition or disability?</label>
      <input class="form-control full" id="conditions-and-dis" name="conditions-and-dis"/>
    </div>

    <!-- LIST THE THINGS -->
    <fieldset class="inline" id="havejob">
      <legend class="form-label-bold" id="alreadyJob">What do you have to do at work that is made harder by this?</legend>
      <p class="form-hint">This means things you have to do to perform your job role, including getting to or from work.</p>
      <div class="conditions">
        <p class="cond"><input name="conditions" class="form-control" style="width:75%" autocomplete="off"/></p>
      </div>
      <p>+ <a href="#" id="add">Add another</a></p>
    </fieldset>

    <fieldset class="primary-nav form-group">
      <legend>Form Navigation</legend>
      <ul> <li><input type="submit" value="Next" class="button" id="nextbutton"/></li> </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{{/content}}

{{/layout}}

<script type="text/javascript">

  /*
    make the "add another" link work.
  */
  $(document).on("ready",function(e)
  {
    $('#add').on("click",function(e)
    {
      e.preventDefault();
      var c = $($('.conditions .cond')[0]).clone(); // clone the first input
      $('.conditions').append(c); // apend it to the block.
      $(c.find('input')).val("").focus(); // empty the vlalue.
    });
  });

</script>