{{<layout_v8}}

{{$pageTitle}}Can you get an Access to Work grant?{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

{{>includes/leftcol}}

<section class="column-two-thirds">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-xlarge">You won't get an Access to Work grant</h1>
  	   <p id="payHelp">An Access to Work grant can only pay for help with:</p>
	   <ul aria-labelledby="payHelp" class="list-bullet">
			<li>managing difficulties caused by your condition that make it harder for you to do your job</li>
			<li>travelling to or from work or as part of your job</li>
			<li>communicating in a job interview</li>
	   </ul>
	   <p>You may be <a href="https://www.gov.uk/benefits-calculators">eligible for other benefits</a>.</p>

</section><!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{{/content}}

{{/layout_v8}}

