{{<layout_v8}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

{{>includes/leftcol}}

<section class="column-two-thirds" aria-labelledby="aboutjob">
  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
<h1 class="form-title heading-large" id="aboutjob"><span class="section-progress">Section 3 of 5</span>Your line manager</h1>

<form action="thirdparty" method="post" class="form">

    <fieldset>
       

        <!-- THEIR NAME -->
        <div class="form-group">
            <label class="form-label" for="employer-name">Their name</label>
            <input class="form-control" type="text" id="employer-name" name="employed-employer-name">
        </div>

        <!-- THEIR CONTACT NUMBER -->
        <div class="form-group">
            <label class="form-label" for="telephone-number">Contact number</label>
              <input class="form-control" id="telephone-number" name="employed-telephone-number" type="text">
        </div>

    </fieldset>

    <!-- Primary buttons, secondary links -->


    <fieldset class="primary-nav form-group">
        <legend>Navigation</legend>
              <ul>
                <li><input type="submit" value="Next" class="button"/></li>
              </ul>
    </fieldset>



  </form>

</section>

</div>

</main>

{{/content}}

{{/layout_v8}}

