{{<layout}}

{{$pageTitle}}About you{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

  {{>includes/leftcol}}

<section class="column-two-thirds" aria-labelledby="thirdparty">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large" id="thirdparty">
    <span class="section-progress">Section 1 of 5</span>
    Equipment or software
  </h1>

  <form action="need-why" method="post" class="form" id="theForm">

    <div class="form-group">

      <!-- WHAT DO YOU NEED -->
      <fieldset class="form-group" id="what-you-need">
        <legend class="form-label-bold" id="what-you-need-label">What do you need?</legend>
        <p class="form-help">Select all that apply</p>
        <div class="form-group form-group-compound" aria-labelledby="what-you-need-label">
          <label class="block-label" for="what-you-need-bsl">
            <input id="what-you-need-bsl" type="checkbox" name="what-you-need" value="help seeing my computer screen" />
            Help seeing my computer screen
          </label>
          <label class="block-label" for="what-you-need-lip">
            <input id="what-you-need-lip" type="checkbox" name="what-you-need" value="help interacting with my computer" />
            Help interacting with my computer
          </label>
          <label class="block-label" for="what-you-need-notetaker">
            <input id="what-you-need-notetaker" type="checkbox" name="what-you-need" value="a special mouse or keyboard" />
            A special mouse or keyboard
          </label>
          <label class="block-label" for="what-you-need-haids">
            <input id="what-you-need-haids" type="checkbox" name="what-you-need" value="someone to drive your car" />
            An adjustment to my working environment
          </label>
          <label class="block-label" for="what-you-need-none">
            <input id="what-you-need-none" type="checkbox" name="what-you-need" value="something else" />
            Something else
          </label>
        </div>
      </fieldset>

    </div><!-- .form-group -->

    <!-- NEXT BUTTON -->
    <fieldset class="primary-nav form-group">
      <legend>Form Navigation</legend>
      <ul>
        <li><input type="submit" value="Next" class="button" id="submitButton"/></li>
      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{{/content}}

{{/layout}}
