{{<layout_v8}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

{{>includes/leftcol}}

<section class="column-two-thirds" aria-labelledby="aboutjob">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large" id="aboutjob">
    <span class="section-progress">Section 2 of 5</span>
    How would this help?
  </h1>

  <form action="" method="post" class="form">

    <!-- LIST THE THINGS -->
    <fieldset class="inline" id="havejob">
      <legend class="form-label-bold" id="alreadyJob">What work tasks do you need {{what-you-need}} for?</legend>
      <div class="tasks">
        <p class="cond"><input name="need-tasks" class="form-control" style="width:50%" autocomplete="off"/></p>
        <p class="cond"><input name="need-tasks" class="form-control" style="width:50%" autocomplete="off"/></p>
        <p class="cond"><input name="need-tasks" class="form-control" style="width:50%" autocomplete="off"/></p>
      </div>
      <p><a href="#" id="add" class="button-add">&#43; add another</a></p>
    </fieldset>

    <!-- HOW MANY HOURS -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name" id="full-name-label">How many hours <span class="plural">do you need to do this</span>?</label>
      <p class="form-hint">For example, 2 hours a day, 16 hours a week/month/year.</p>
      <input class="form-control" id="full-name" name="you-full-name" type="text" aria-required="true">
    </div>

    <fieldset class="primary-nav form-group">
      <legend>Form Navigation</legend>
      <ul>
        <li><input type="submit" value="Next" class="button" id="nextButton"/></li>
      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

</div><!-- .grid-row -->

</main>

{{/content}}

{{/layout_v8}}

<script type="text/javascript">

/*
  make the "add another" link work.
*/
$(document).on("ready",function(e)
{
  $('#add').on("click",function(e)
  {
    e.preventDefault();
    var c = $($('.tasks .cond')[0]).clone(); // clone the first input
    $('.tasks').append(c); // apend it to the block.
    $(c.find('input')).val("").focus(); // empty the vlalue.

    if ($('.tasks input').length > 1)
    {
      $('.plural').text(', in total, do you need to do these things');
    }
  });

  var form = $('form');

  /*
    When they click submit refer to the previous
    Employment answer for the next step.
  */
  var dest = '';
  $("#nextButton").on('click',function(e)
  {
    e.preventDefault();

    // go and check what they put for employment status.
    var emp_status = Cookies.get('emp-status'); console.log(emp_status);
    switch(emp_status)
    {
      case "Employed": dest = 'employed'; break;
      case "Self": dest = 'employed-self'; break;
      case "Director": dest = 'employed-limited'; break;
    }

    form.attr('action',dest);
    form.submit();

  });
});

</script>