{{<layout}}

{{$pageTitle}}Consent &amp; Declaration{{/pageTitle}}

{{$content}}

<main id="content" role="main" aria-labelledby="review">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">


{{>includes/leftcol}}


<section class="column-two-thirds">


<h1 class="form-title heading-large" id="review">Review your answers</h1>
	
	
	<table class="form-group">
	    <thead>
	      <tr>
	        <th colspan="2">About you</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Full name</td>
	        <td>John Smith</td>
	      </tr>
	      <tr>
	        <td>Date of birth</td>
	        <td>12 6 1978</td>
	      </tr>
	      <tr>
	       <td>Your address</td>
	        <td>10 Edgemoor Drive, Crosby, Liverpool, L23 8HU</td>
	      </tr>
	      <tr>
	        <td>Contact number</td>
	        <td>0151 000 0000</td>
	      </tr>
	      <tr>
	        <td>Email address</td>
	        <td>test@accesstowork.com</td>
	      </tr>
	    </tbody>
	  </table>
	  
	  <table class="form-group">
	    <thead>
	      <tr>
	        <th colspan="2">Third party</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Their name</td>
	        <td>Billy Jackson</td>
	      </tr>
	      <tr>
	        <td>Their phone number</td>
	        <td>01704 000 000</td>
	      </tr>
	      <tr>
	       <td>How they're related to you</td>
	       <td>Uncle</td>
	      </tr>
	    </tbody>
	  </table>
	  
	  
	  <table class="form-group">
	    <thead>
	      <tr>
	        <th colspan="2">About your job</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>How are you employed?</td>
	        <td>Self-employed</td>
	      </tr>
	      <tr>
	        <td>Your job title</td>
	        <td>Manager</td>
	      </tr>
	      <tr>
	       <td>Work address</td>
	       <td>10 Edgemoor Drive, Crosby, Liverpool, L23 8HU</td>
	      </tr>
	      <tr>
	       <td>What does your day to day work involve?</td>
	       <td>Office based work</td>
	      </tr>
	      <tr>
	       <td>When did you start this job?</td>
	       <td>12 08 2014</td>
	      </tr>
	      <tr>
	       <td>What days do you work?</td>
	       <td>Monday to Friday</td>
	      </tr>
	      <tr>
	       <td>How many hours a week do you work?</td>
	       <td>37.5</td>
	      </tr>
	      <tr>
	       <td>Is this a permanent job?</td>
	       <td>Yes</td>
	      </tr>
	    </tbody>
	  </table>
	  
	  
	  <table class="form-group">
	    <thead>
	      <tr>
	        <th colspan="2">About your condition</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Name of your condition or disability</td>
	        <td>Blind</td>
	      </tr>
	      <tr>
	        <td>How does your condition affect your travel?</td>
	        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</td>
	      </tr>
	      <tr>
	        <td>How do you manage these difficulties?</td>
	        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</td>
	      </tr>
	      <tr>
	        <td>What, if anything, do you think would help you?</td>
	        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</td>
	      </tr>
	      <tr>
	        <td>How does your condition affect you at work?</td>
	        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</td>
	      </tr>
	      <tr>
	        <td>How do you manage these difficulties?</td>
	        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</td>
	      </tr>
	      <tr>
	        <td>What, if anything, do you think would help you?</td>
	        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</td>
	      </tr>
	    </tbody>
	  </table>

	  
	  <form action="/" method="post" class="form">

	    <!-- Primary buttons, secondary links -->
	    
	    <fieldset class="primary-nav form-group">
			<legend>Navigation</legend>    
			      <ul>
					<li><a href="declaration" class="button">Next</a></li>
					<li><a href="javascript:history.go(-1);">Back</a></li>
			      </ul>
		</fieldset>
	
	  </form>
    

</section>

</div>




</main>

{{/content}}

{{/layout}}

