{% extends " application/layout .html" %}

{{$pageTitle}}About you{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

{{>includes/leftcol_v9}}

<section class="column-two-thirds" aria-labelledby="thirdparty">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

  <!-- HEADING -->
  <h1 class="form-title heading-large" id="thirdparty">
    <span class="section-progress">Section 2 of 7</span>
    What help do you need?
  </h1>

  <form action="" method="post" class="form" id="theForm">

    <!-- WHAT YOU NEED? -->
    <fieldset class="form-group" id="what-you-need">
      <p>Select all that apply</p>
      <div class="form-group" aria-labelledby="what-you-need-label">              
        <input name="what-you-need" value="Communication"id="what-you-need-comms" type="checkbox" data-dest="need-communication">
        <label id="deaf-questions" class="form-label form-control-checkbox" for="what-you-need-comms" style="display:none"> Support for a hearing impairment</label>
        <input name="what-you-need" value="Travelling"id="what-you-need-travel" type="checkbox" data-dest="need-travel">
        <label class="form-label form-control-checkbox" for="what-you-need-travel"> Help travelling independently </label>
        <input name="what-you-need" value="Don't know"id="what-you-need-know" type="checkbox" data-dest="explore">
        <label class="form-label form-control-checkbox" for="what-you-need-know"> Help during work </label>
      </div>
    </fieldset>

    <!-- NEXT BUTTON -->
    <fieldset class="primary-nav form-group">
      <legend>Form Navigation</legend>
      <ul>
        <li><input type="submit" value="Next" class="button" id="submitButton"/></li>
      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

{{> application/rightcol }}

</div><!-- .grid-row -->

</main>

{{/content}}

{{/ application/layout }}

<script type="text/javascript">

  $(document).on('ready',function()
  {
    var cond = JSON.parse(Cookies.get('my-condition'));
    console.log(cond);
    if (cond.match(/deaf/ig)) 
    {
      console.log('match');
      $("#deaf-questions").show();
    }

    var form = $("#theForm"),
        subb = $('#submitButton');

    subb.on('click',function(e)
    {
      e.preventDefault();
      $('#what-you-need input').each(function(i,el)
      {
        if ($(el).prop('checked'))
        {
          var dest = $(el).data('dest');
          form.attr('action',dest);
          form.submit();
          return false;
        }
      });
    });
  });
</script>
