{{< application/layout }}

{{$pageTitle}}Consent &amp; Declaration{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{>includes/alpha}}

  <div class="grid-row">

    <section class="column-two-thirds" aria-labelledby="declaration">

      <!-- BACK LINK -->
      <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

      <!-- HEADING -->
      <h1 class="form-title heading-large" id="declaration">Using email</h1>

      <p>Dealing with your Access To Work application digitally may require e-mailing your personal data outside of the Secure network used by DWP. We need to inform you of the risks associated with e-mailing outside a secure network, the primary risks are loss, manipulation and theft of emails.</p>
      <p>If you do not accept these risks, please do not submit an application via this web page.</p>

      <p><a href="declaration">Back to Declaration page</a></p>

      <!-- 
      TOM ADAMS!!!
      
      If you're in here editting you should know that below is the original content that advisers would send at this point. The above is just my copy&paste + interpretation. Feel free to alter it! ;-)

      You may have requested that DWP correspond with you by e-mail as a reasonable adjustment under the Equality Act. This may require e-mailing your personal data outside of the Secure network used by DWP. We need to inform you of the risks associated with e-mailing outside a secure network, the primary risks are loss, manipulation and theft of emails. Before DWP can proceed with your request please provide written confirmation (this can be an e-mail response) that you accept the risks associated with DWP corresponding with you by internet based email.

      Please respond using the relevant statement set out below (copy and paste to a reply email)
      I GIVE MY CONSENT FOR DWP TO CORRESPOND WITH ME BY EMAIL AS A REASONABLE ADJUSTMENT UNDER THE EQUALITY ACT. THIS IS MY PREFERRED METHOD OF COMMUNICATION DUE TO MY DISABILITY/HEALTH CONDITION. I accept that there are risks associated with email outside of a secure network and that the primary risks are loss, manipulation and theft of emails.  I understand that DWP will store this information safely in files and IT systems.
      -->

    </section>

    {{> application/rightcol }}

  </div>

</main>

{{/content}}

{{/ application/layout }}

