{% extends " application/layout .html" %}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

{{>includes/leftcol_v9}}

<section class="column-two-thirds" aria-labelledby="aboutjob">

  <h1 class="form-title heading-large">Something's gone wrong</h1>
  <p id="payHelp">You can't view this page.</p>
  <p>If you were sent a link to this service and have already visited once, then your link will have expired. Reply to the person who invited you and ask for another link.</p>
  <p>If you're here by mistake then <a href='https://www.gov.uk/access-to-work'>read about Access to Work</a> on GOV.UK.</p>

</section><!-- .column-two-thirds -->

{{> application/rightcol }}

</div><!-- .grid-row -->

</main>

{{/content}}

{{/ application/layout }}
