{{< application/layout }}

{{$pageTitle}}Can you get an Access to Work grant?{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

<section class="column-two-thirds">

  <h1 class="form-title heading-xlarge">Apply for an Access to Work grant</h1>
    
  <nav class="intro-nav">
  	<ol>
	  	<li class="font-xsmall">
        <span class="part-number">1.</span>
        <a href="index" title="Part 1: Overview">Overview</a>
      </li>
		  <li class="active font-xsmall">
        <span class="part-number">3.</span>
        <span>What you'll get</span>
      </li>
      <li class="font-xsmall">
        <span class="part-number">2.</span>
        <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
      </li>
      <li class="font-xsmall">
        <span class="part-number">4.</span>
        <a href="intro4" title="Part 4: How to claim">Apply</a>
      </li>
    </ol>
  </nav>

  <div class="intro-content">
	  <h2 class="heading-medium">3. What you'll get</h2>
	  <p>How much you'll be offered depends on how much help you need.</p>
	  <p>A grant can pay for things like:</p>
    <ul class="list-bullet">
	  	<li>changes to equipment you have to use for your job</li>
  		<li>new special equipment, eg furniture or computer software</li>
  		<li>travel costs to and from work</li>
  		<li>someone to help you in your workplace, eg a support worker</li>
  		<li>work coaching or mentoring</li>
  		<li>disability awareness training for your colleagues</li>
  		<li>moving special equipment if you change your job</li>
  	</ul>
  	<h2 class="heading-medium">Maximum grant</h2>
  	<p>The most you can get as an Access to Work grant is &pound;40,800 per year.</p>
    <p>If you have a grant that's worth more it'll be reduced in April 2018.</p>
  </div>

 	<nav class="intro-next">
 		<a href="intro2" class="first" rel="next" title="Navigate to previous part">Previous<span class="pagination-part-title">Eligibility</span></a>
    <a href="intro4" rel="next" title="Navigate to next part">Next<span class="pagination-part-title">How to claim</span></a>
  </nav>
   
</section>

{{>includes/elsewhere}}
    
</div><!-- .grid-row -->

</main>

{{/content}}

{{/ application/layout }}

