{{< application/layout }}

{{$pageTitle}}Can you get an Access to Work grant?{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

<section class="column-two-thirds">

  <h1 class="form-title heading-xlarge">Apply for an Access to Work grant</h1>

  <nav class="intro-nav">
  	<ol>
	  	<li class="font-xsmall">
        <span class="part-number">1.</span>
        <a href="index" title="Part 1: Overview">Overview</a>
      </li>
      <li class="active font-xsmall">
        <span class="part-number">2.</span>
        <span>Eligibility</span>
      </li>
      <li class="font-xsmall">
        <span class="part-number">3.</span>
        <a href="intro3" title="Part 3: What you'll get">What you'll get</a>
      </li>
      <li class="font-xsmall">
        <span class="part-number">4.</span>
        <a href="intro4" title="Part 4: How to claim">Apply</a>
      </li>
    </ol>
  </nav>

  <div class="intro-content">
	 <h2 class="heading-medium">2. Eligibility</h2>
	 <p>Access to Work grants are only available if you live and work in England, Scotland or Wales. There's a different system in <a href="http://www.nidirect.gov.uk/access-to-work-practical-help-at-work">Northern Ireland.</a></p>
	 <p>You must be 16 or over and either:</p>
    <ul class="list-bullet">
      <li>about to start a job or work trial</li>
      <li>in a paid job or self-employed (you can’t get a grant for voluntary work)</li>
    </ul>
    <p>You might also qualify if you’re getting <a href="https://www.gov.uk/new-enterprise-allowance" target="_blank">New Enterprise Allowance</a> or starting work experience under a <a href="https://www.gov.uk/moving-from-benefits-to-work/job-search-programmes" target="_blank">Youth Contract</a>.</p>
    <h2 class="heading-medium">Your condition</h2>
    <p>Your disability or health condition must affect your ability to do your job or mean you have to pay work-related costs. For example, if you need to buy computer equipment or have to take taxis because you can’t use public transport.</p>
    <h2 class="heading-medium">Other benefits</h2>
    <p>You might not get a grant if you already get any of:</p>
    <ul class="list-bullet">
      <li>Incapacity Benefit</li>
      <li>Job Seekers Allowance</li>
      <li>Employment and Support Allowance</li>
      <li>Severe Disability Allowance</li>
      <li>Income Support</li>
      <li>National Insurance Credits</li>
    </ul>
    <h2 class="heading-medium">Changing jobs</h2>
    <p>You may be able to take any special equipment that's been paid for with an Access to Work grant with you if you change jobs.</p>
    <p>If you get regular grants (eg for travel to work) you'll have to apply for a new grant.</p>
  </div><!-- .intro-content -->

 	<nav class="intro-next">
	  <a href="index" class="first" rel="next" title="Navigate to previous part">Previous<span class="pagination-part-title">Overview</span></a>
    <a href="intro3" rel="next" title="Navigate to next part">Next<span class="pagination-part-title">What you'll get</span></a>
  </nav>
   
</section>

{{>includes/elsewhere}}

</div><!-- .grid-row -->

</main>

{{/content}}

{{/ application/layout }}

