{{< application/layout }}

{{$pageTitle}}About you{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

<section class="column-two-thirds" aria-labelledby="thirdparty">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large" id="thirdparty">
    <span class="section-progress">Section 1 of 7</span>
    What are your conditions or disabilities?
  </h1>

  <form action="travel" method="post" class="form" id="theForm">

    <!-- YOUR CONDITION -->
    <div class="form-group" style="margin-bottom:45px">
      <!-- <label class="form-label-bold" for="conditions-and-dis" id="">What's your condition or disability?</label> -->
      <input name="my-condition" id="conditions" class="form-control full"/>
    </div>

    <fieldset class="primary-nav form-group">
		  <legend>Form Navigation</legend>
        <ul>
	      	<li><input type="submit" value="Next" class="button" id="submitButton"/></li>
	      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

{{> application/rightcol }}

</div><!-- .grid-row -->

</main>

{{/content}}

{{/ application/layout }}

<script type="text/javascript">

  // var substringMatcher = function(strs) 
  // {
  //   return function findMatches(q, cb) 
  //   {
  //     var matches = [];
  //     var substrRegex = new RegExp(q, 'i');
  //     $.each(strs, function(i, str) {
  //       if (substrRegex.test(str)) {
  //         matches.push(str);
  //       }
  //     });
  //     cb(matches);
  //   };
  // };

  var deaf_conditions = [
    "Deaf",
    "Hear",
  ];

  $(document).on('ready',function()
  {
    // $('#conditions-and-dis').typeahead(
    //   { "hint":true, "highlight":true, "minLength":1 },
    //   { 
    //     name:'conditions',
    //     source: substringMatcher(conditions)
    //   }
    // );

    $('#submitButton').on('click',function(e)
    {
      e.preventDefault();
      var val = $('#conditions').val();
      if (val)
      {
        var substrRegex = new RegExp('^'+val, 'i');
        var match = false;
        $.each(deaf_conditions, function(i, str) {
          if (substrRegex.test(str)) 
          {
            console.log(substrRegex);
            return match = true;
          }
        });           
        if (match) 
        {
          Cookies.set('sections',6);
          $("form").attr('action','hearing');
        } else {
          Cookies.set('sections',5);
        }
      }      
      $("form").submit();
    });
  });
</script>