{{< application/layout }}

{{$pageTitle}}About you{{/pageTitle}}

{{$content}}

<main id="content" role="main">

{{>includes/alpha}}

<div class="grid-row">

  {{>includes/leftcol_v9}}

<section class="column-two-thirds" aria-labelledby="thirdparty">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large" style="margin-bottom:30px;">
    <span class="section-progress">Section 3 of 7</span>
    Does your condition cause you difficulty travelling to and from work?
  </h1>

  <form action="travel-why" method="post" class="form" id="theForm">

    <!-- Do you need - Yes No -->
    <fieldset class="inline">
      <div class="form-group">
        <input id="help-travelling-yes" type="radio" name="help-travelling" value="Yes" />
        <label class="form-label form-control-radio" data-target="travel-options" for="help-travelling-yes">Yes</label>
      </div>
      <div class="form-group form-group-compound">
        <input id="help-travelling-no" type="radio" name="help-travelling" value="No" />
        <label class="form-label form-control-radio" data-target="" for="help-travelling-no">No</label>
      </div>
    </fieldset>

    <div class="form-group js-hidden panel-indent" id="travel-options" style="margin-bottom:30px !important;">

      <!-- WHAT DO YOU NEED -->
      <fieldset class="form-group" id="travel-need">
        <legend class="form-label-bold" id="travel-need-label">Which of these would fit your needs?</legend>
        <p>Select all that apply</p>
        <div class="form-group form-group-compound" aria-labelledby="travel-need-label">
          <input id="travel-need-bsl" type="checkbox" name="travel-need" value="someone to take you to and from work" />
          <label class="form-label form-control-checkbox" for="travel-need-bsl">
            Someone to take you to and from work
          </label>
          <input id="travel-need-lip" type="checkbox" name="travel-need" value="someone to travel with you" />
          <label class="form-label form-control-checkbox" for="travel-need-lip">
            Someone to travel with you
          </label>
          <input id="travel-need-notetaker" type="checkbox" name="travel-need" value="help using public transport" />
          <label class="form-label form-control-checkbox" for="travel-need-notetaker">
            Help using public transport
          </label>
          <input id="travel-need-haids" type="checkbox" name="travel-need" value="someone to drive your car" />
          <label class="form-label form-control-checkbox" for="travel-need-haids">
            Someone to drive your car for you
          </label>
          <input id="travel-need-s-else" type="checkbox" name="travel-need" value="something else" />
          <label class="form-label form-control-checkbox" for="travel-need-s-else">
            Something else
          </label>
        </div>
      </fieldset>      

    </div><!-- .form-group -->    

    <!-- NEXT BUTTON -->
    <fieldset class="primary-nav form-group" style="margin-top:30px">
      <legend>Form Navigation</legend>
      <ul>
        <li><input type="submit" value="Next" class="button" id="nextButton"/></li>
      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

{{> application/rightcol }}

</div><!-- .grid-row -->

</main>

{{/content}}

{{/ application/layout }}

<script type="text/javascript">
  $('#nextButton').on('click',function(e)
  {
    e.preventDefault();

    var picked = false;
    $('input[name="help-travelling"]').each(function(i,el)
    {
      if( $(el).prop('checked') ) // if Yes or No has been ticked.
      {        
        if ( $(el).val() == 'No' ) // if it's No.
        {
          picked = true;
          $('form').attr('action','during-work');  
        }        

        if ( $(el).val() == 'Yes' ) // if it's No.
        {
          $('input[name="travel-need"]').each(function(i,el)
          {
            if ($(el).prop('checked')) picked = true;
          });
        }        
      }
    });

    Cookies.set('travel_count',0);

    if (picked) $('form').submit();
    else alert('Please pick one.');
  });
</script>