{% extends "application/layout.html" %}

{% block pageTitle %}About you{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

<section class="column-two-thirds" aria-labelledby="thirdparty">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large" style="margin-bottom:30px;">
    <span class="section-progress">Section 3 of 7</span>
    Does your condition cause you difficulty travelling to and from work?
  </h1>

  <form action="travel-why" method="post" class="form" id="theForm">

    <!-- Do you need - Yes No -->
    <fieldset class="inline">
      <div class="form-group">
        <input id="help-travelling-yes" type="radio" name="help-travelling" value="Yes" />
        <label class="form-label form-control-radio" data-target="travel-options" for="help-travelling-yes">Yes</label>
      </div>
      <div class="form-group form-group-compound">
        <input id="help-travelling-no" type="radio" name="help-travelling" value="No" />
        <label class="form-label form-control-radio" data-target="" for="help-travelling-no">No</label>
      </div>
    </fieldset>

    <div class="form-group js-hidden panel-indent" id="travel-options" style="margin-bottom:30px !important;">

      <!-- WHAT DO YOU NEED -->
      <fieldset class="form-group">
        
        <legend class="heading-medium">Which of these do you use to get to work right now?</legend>
        
        <input id="travel-now-bus" type="checkbox" name="travel-now" value="bus or tram" />
        <label class="form-label form-control-checkbox" for="travel-now-bus" data-target="bus-why">Bus or Tram</label>
        <fieldset id="bus-why" class="panel-indent js-hidden" style="margin-bottom:15px !important;">
          <label>How is travelling by <span class="answer">bus</span> harder for you because of your condition?</label>
          <textarea class="form-control" id="bus-why-text" name="travel-now-bus-why"></textarea>
        </fieldset>
        
        <input id="travel-now-train" type="checkbox" name="travel-now" value="train" />
        <label class="form-label form-control-checkbox" for="travel-now-train" data-target="train-why">Train</label>
        <fieldset id="train-why" class="panel-indent js-hidden" style="margin-bottom:15px !important;">
          <label>How is travelling by <span class="answer">train</span> harder for you because of your condition?</label>
          <textarea class="form-control" id="train-why-text" name="travel-now-train-why"></textarea>
        </fieldset>
        
        <input id="travel-now-walk" type="checkbox" name="travel-now" value="walking" />
        <label class="form-label form-control-checkbox" for="travel-now-walk" data-target="walking-why">Walking</label>
        <fieldset id="walking-why" class="panel-indent js-hidden" style="margin-bottom:15px !important;">
          <label>How is <span class="answer">walking</span> harder for you because of your condition?</label>
          <textarea class="form-control" id="walking-why-text" name="travel-now-walking-why"></textarea>
        </fieldset>
        
        <input id="travel-now-car" type="checkbox" name="travel-now" value="car or getting a lift" />
        <label class="form-label form-control-checkbox" for="travel-now-car" data-target="car-why">Car or get a lift</label>
        <fieldset id="car-why" class="panel-indent js-hidden" style="margin-bottom:15px !important;">
          <label>How is travelling by <span class="answer">car or getting a lift</span> harder for you because of your condition?</label>
          <textarea class="form-control" id="car-why-text" name="travel-now-car-why"></textarea>
        </fieldset>

      </fieldset>      

    </div><!-- .form-group -->    

    <!-- NEXT BUTTON -->
    <fieldset class="primary-nav form-group" style="margin-top:30px">
      <legend>Form Navigation</legend>
      <ul>
        <li><input type="submit" value="Continue" class="button" id="nextButton"/></li>
      </ul>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

{% include "application/rightcol.html" %}

</div><!-- .grid-row -->

</main>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $('#nextButton').on('click',function(e)
  {
    e.preventDefault();

    var picked = false;
    $('input[name="help-travelling"]').each(function(i,el)
    {
      if( $(el).prop('checked') ) // if Yes or No has been ticked.
      {        
        if ( $(el).val() == 'No' ) // if it's No.
        {
          picked = true;
          $('form').attr('action','during-work');  
        }        

        if ( $(el).val() == 'Yes' ) // if it's No.
        {
          $('input[name="travel-now"]').each(function(i,el)
          {
            if ($(el).prop('checked')) picked = true;
          });
        }        
      }
    });

    Cookies.set('travel_count',0);

    if (picked) $('form').submit();
    else alert('Please pick one.');
  });
</script>
{% endblock %}