{{<layout}}

{{$pageTitle}}Hypotheses{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Hypotheses</h1>

	<h1 class="heading-medium">Version 1</h1>
	<div class="grid-row">
		<section class="column-half">
			<div class="hypothesis">
				<div class="coloured-box">
					<p class="setup">Because we believe</p>
					<p class="hyp-text"></p>
					<p class="setup">we think that</p>
					<p class="hyp-text"></p>
				</div>
			</div>
		</section>
		<section class="column-half">
			<p></p>
		</section>
	</div>

	<h1 class="heading-medium">Version 2</h1>
	<div class="grid-row">
		<section class="column-half">
			<div class="hypothesis">
				<div class="coloured-box">
					<p class="setup">Because we believe</p>
					<p class="hyp-text">customers struggle to provide a lot of line manager and work place contact information</p>
					<p class="setup">we think that</p>
					<p class="hyp-text">only asking for a line manager name and phone number will reduce this whilst still giving the business what is required to progress the applicaiton.</p>
				</div>
			</div>
		</section>
		<section class="column-half">
			<p>Since V2 of the prototype we have only asked for Line Manger name and phone number.</p>
		</section>
	</div>

	<h1 class="heading-medium">Version 3</h1>
	<div class="grid-row">
		<section class="column-half">
			<div class="hypothesis">
				<div class="coloured-box">
					<p class="setup">Because we believe</p>
					<p class="hyp-text">customers aren&rsquo;t seeing the &ldquo;During work&rdquo; question if they answer Yes to the travel question because it is pushed down the page</p>
					<p class="setup">we think that</p>
					<p class="hyp-text">splitting these questions onto two pages will stop this from happening.</p>
				</div>
			</div>
		</section>
		<section class="column-half">
			<p>Testing of this version of the prototype did indeed appear to solve the problem of users not noticing the second question but there seemed to be a secondary problem of users answering the second question as part of their answer to the first.</p>
		</section>
	</div>

	<h1 class="heading-medium">Version 4</h1>
	<div class="grid-row">
		<section class="column-half">
			<div class="hypothesis">
				<div class="coloured-box">
					<p class="setup">Because we believe</p>
					<p class="hyp-text">some customers will not identify themselves as NOT being able do the things they need to do</p>
					<p class="setup">we think that</p>
					<p class="hyp-text">using different wording when asking users to describe the difficulties they have will mean these customers feel comfortable providing information.</p>
				</div>
			</div>			
		</section>	
		<section class="column-half">
			<p>We have attempted to always use language which asks how people's conditions makes things &ldquo;more difficult&rdquo; rather than describing people as not able to do something.</p>
		</section>
	</div>
	<div class="grid-row">		
		<section class="column-half">
			<div class="hypothesis">
				<div class="coloured-box">
					<p class="setup">Because we believe</p>
					<p class="hyp-text">some customers find it off-putting to see when they've made spelling mistakes in their answers</p>
					<p class="setup">we think that</p>
					<p class="hyp-text">disabling spellcheck in our forms will result in these users completing the applications more quickly with no detrement to their application.</p>
				</div>
			</div>
		</section>
		<section class="column-half">
			<p>Spellcheck has been disabled in the prototype from this point on.</p>
		</section>
	</div>
	<div class="grid-row">		
		<section class="column-half">
			<div class="hypothesis">
				<div class="coloured-box">
					<p class="setup">Because we believe</p>
					<p class="hyp-text">customer find it overly scary that we mention “prison” on the declaration page</p>
					<p class="setup">we think that</p>
					<p class="hyp-text">changing this to “criminal offence” will give the same message without causing so much alarm.</p>
				</div>
			</div>
		</section>
		<section class="column-half">
			<p>Since making this change we've not had any more comments along these lines.</p>
		</section>					
	</div>

	<h1 class="heading-medium">Version 5</h1>
	<div class="grid-row">
		<section class="column-half">
			<div class="hypothesis">
				<div class="coloured-box">
					<p class="setup">Because we believe</p>
					<p class="hyp-text">customers are not taking note of the “travel” or “during work” context of the two questions we're asking</p>
					<p class="setup">we think that</p>
					<p class="hyp-text">asking a single more open question will give them the chance to tell their story in a simpler, quicker way.</p>
				</div>
			</div>
		</section>
		<section class="column-half">
			<p>We tested this in V5 of the prototype but found that certain customers with autism and dyslexia found the a more vague question and large open text box more uncomfortable and reported either feeling like they wouldn't know what to write or would end up writing far too much</p>
		</section>
	</div>

	

</main>

{{/content}}

{{/layout}}
