{{<layout}}

{{$pageTitle}}
	Access To Work - Prototype
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h2 class="heading-xlarge">Prototypes</h2>

	<h3 class="heading-medium">Apply for an Access To Work grant</h3>
	<table class="list-bullet index-table">
		<tr>
			<td colspan="3">
				<a href="/application/">Current version</a> 
			</td>
			<td>
				<a class="font-xxsmall pages-link" href="#" data-num="">pages</a>
			</td>
		</tr>
		{{#application}}
			<tr>
				<td><a href="/application/v{{ number }}/">Version {{ number }}</a></td>
				<td> <span class="font-xxsmall">{{ date }}</span></td>
				<td><a class="font-xxsmall" href="/application/v{{ number }}/diff">changes</a></td>
				<td><a class="font-xxsmall pages-link" href="#" data-num="v{{ number }}">pages</a></td>
			</tr>
		{{/application}}
	</table>

	<h3 class="heading-medium">Application status</h3>
	<table class="list-bullet index-table">
		<tr>
			<td colspan="3">
				<a href="/offer/">Current version</a> 
			</td>
			<td>
				<a class="font-xxsmall pages-link" href="#" data-num="offer">pages</a>
			</td>
		</tr>
	</table>

	<h3 class="heading-medium">Accept your offer</h3>
	<table class="list-bullet index-table">
		<tr>
			<td colspan="3">
				<a href="/appstatus/">Current version</a> 
			</td>
			<td>
				<a class="font-xxsmall pages-link" href="#" data-num="appstatus">pages</a>
			</td>
		</tr>
	</table>

	<h3 class="heading-medium">Staff access UI</h3>
	<table class="list-bullet index-table">
		<tr>
			<td colspan="3">
				<a href="/staffui/">Current version</a> 
			</td>
			<td>
				<a class="font-xxsmall pages-link" href="#" data-num="appstatus">pages</a>
			</td>
		</tr>
	</table>

	<h2 class="heading-large">Tests &amp; Design ideas</h2>
	<ul class="list-bullet">
		<li> <a href="/tellmystory/">Tell my Story</a> </li>
		<li> <a href="/safetynet/">Safety net</a> </li>
	</ul>

</main>

<div class="show-pages">
hello
</div>

{{/content}}

{{/layout}}

<script type="text/javascript">
	$(document).on('ready',function()
	{
		var show = $('.show-pages');
		show.hide();

		show.on('mouseleave',function()
		{
			show.hide();
		});

		$('.pages-link').on('mouseover',function(e)
		{
			if (e.currentTarget != e.target) return;

			var num = $(this).data('num');

			show.empty().append('<ul/>');
			$(this).append(show);

			$.get('/api/application/'+num+'/', {}, function(data, status, xhr)
			{
				for(var i in data)
				{
					var d = data[i];
					console.log(d);
					if (d)
					{
						var link = '<li><a href="/application/'+num+'/'+d.substring(0,d.length-5 )+'">'+d+'</a></li>'					
						$('.show-pages ul').append(link);						
					}					
				}
				show.css({top:"-200px",left:"150%"});
				show.show();
			});
		});
		
	});
</script>