{{<layout}}

{{$pageTitle}}
	Access To Work - Prototype
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Access to Work</h1>

	<p>{{errors}}</p>	

	<h2 class="heading-large">Prototype Versions</h2>

	<table class="list-bullet index-table">
		<tr>
			<td colspan="3">
				<a href="/application/">Current version</a> 
			</td>
			<td>
				<a class="font-xxsmall pages-link" href="#" data-num="accesstowork">pages</a>
			</td>
		</tr>
		{{#items}}
			<tr>
				<td><a href="/v{{ number }}/">Version {{ number }}</a></td>
				<td><span class="font-xxsmall">{{ date }}</span></td>
				<td><a class="font-xxsmall" href="/v{{ number }}/diff">changes</a></td>
				<td><a class="font-xxsmall pages-link" href="#" data-num="v{{ number }}">pages</a></td>
			</tr>
		{{/items}}
	</table>


	<h2 class="heading-large">Tests &amp; Design ideas</h2>

	<ul class="list-bullet">
		<li> <a href="/tellmystory/">Tell my Story</a> </li>
		<li> <a href="/safetynet/">Safety net</a> </li>
	</ul>

</main>

<div class="show-pages">
hello
</div>

{{/content}}

{{/layout}}

<script type="text/javascript">
	$(document).on('ready',function()
	{
		var show = $('.show-pages');

		show.hide();

		show.on('mouseleave',function()
		{
			console.log('out');
			show.hide();
		});

		$('.pages-link').on('mouseover',function(e)
		{
			if (e.currentTarget != e.target) return;

			var num = $(this).data('num');

			show.empty().append('<ul/>');
			$(this).append(show);

			$.get('/api/'+num+'/', {}, function(data, status, xhr)
			{
				for(var i in data[0])
				{
					var d = data[i];
					if (d)
					{
						var link = '<li><a href="/'+num+'/'+d.substring(0,d.length-5 )+'">'+d+'</a></li>'					
						$('.show-pages ul').append(link);						
					}					
				}
				show.css({top:-show.outerHeight()/2,left:"150%"});
				show.show();
			});
		});
		
	});
</script>