{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Access to Work</h1>

	<p>{{errors}}</p>


	<h2 class="heading-large">Prototype Versions</h2>

	<ul class="list-bullet">		
		<li> <a href="/accesstowork/">Access to Work prototype</a> <span class="font-xsmall">(latest version)</span></li>
		<li> <a href="/v5/">Version 5</a> <span class="font-xsmall">(pre 11th June)</span></li>
		<li> <a href="/v4/">Version 4</a> <span class="font-xsmall">(pre 4th June)</span></li>
		<li> <a href="/v3/">Version 3</a> <span class="font-xsmall">(pre 28th May)</span></li>
		<li> <a href="/v2/">Version 2</a> <span class="font-xsmall">(pre 18th May)</span></li>
		<li> <a href="/v1/">Version 1</a> <span class="font-xsmall">(pre 30th April)</span></li>
	</ul>


	<h2 class="heading-large">Tests &amp; Design ideas</h2>
	
	<ul class="list-bullet">		
		<li> <a href="/tellmystory/">Tell my Story</a> </li>
	</ul>

</main>

{{/content}}

{{/layout}}
