{% extends "application/layout.html" %}

{% block content %}

{% if version != 'current' %}{% if version != 'mvp' %}
	{% set version  = 'v'+version %}
	{% set url  = version+"/" %}
{% else %}
	{% set url  = "mvp/" %}
{% endif %}{% endif %}

<main id="content" role="main">
<div class="staff-container">

	<section class="staff-nav"></section>

	<section aria-labelledby="staffui" class="staff-main">

			<h1 class="heading-large">Pages</h1>
			<ol class="screens">
				{% for item in pages %}
					<li><a href="/application/{{ url }}{{ item }}">
						{{ item }} <div style="background-image:url(/public/images/pages/{{ version }}/{{ item }}-thumb.png)"></div>
					</a></li>
				{% endfor %}
			</ol>

	</section>
</div>
</main>

{% endblock %}
