{% extends "feedback/layout.html" %}

{% block page_title %}
	Access To Work - Feedback
{% endblock %}

{% block content %}

	{% set item = feedback %}
	{# {% set item = feedback[32] %} #}

	<div class="title">Access To Work &mdash; Feedback</div>
	<div class="count"> {{ totals.total }} so far </div>
	<div class="breakdown">
			<span class="sat">{{ totals.satisfied }}% satisfied</span><br />
			<span class="nei">{{ totals.neither }}% neither</span><br />
			<span class="dis">{{ totals.dissatisfied }}% dissatisfied</span>
	</div>


	<main id="content" role="main">
		<div id="feedback">
			<div class="circle {{ item.RATING | classify }}"></div>
			<p class="rating">{{ item.RATING }}</p>
			<p class="date">{{ item.DATE }}</p>
			{% if item["FEEDBACK"] %}<p>&ldquo;{{ item["FEEDBACK"] | truncate(300) }}&rdquo;</p>{% endif %}
			{% if item["FEEDBACK - POSTIVE"] %}<p>&ldquo;{{ item["FEEDBACK - POSTIVE"] | truncate(300) }}&rdquo;</p>{% endif %}
			{% if item["FEEDBACK - IMPROVEMENT"] %}<p>&ldquo;{{ item["FEEDBACK - IMPROVEMENT"] | truncate(300) }}&rdquo;</p>{% endif %}
			{% if item["FEEDBACK - NE"] %}<p>&ldquo;{{ item["FEEDBACK - NEUTRAL"] | truncate(300) }}&rdquo;</p>{% endif %}
		</div>
	</main>

	<div class="timer"></div>

{% endblock %}

{% block page_script %}
<script type="text/javascript">

	var time = 30*1000;

	$(document).on('ready',function()
	{
		var num = {{ number }};
	  setTimeout(function()
		{
			// alert('fish');
			// window.location.href = '/feedback/'+(num+1)+'/';
			window.location.href = '/feedback/';
		},time)

		$(".timer").animate({"width":"100%"},time,"easeInQuint");
	});
</script>
{% endblock %}
